/* DRIVERS */
.testimonial {
  margin-left: -30em !important;
  margin-top: 5em !important;
}
.earnings-brief h4 {
  font-size: 2em !important;
  margin-top: 1em !important;
  width: 15em;
  font-family: IBM Plex Sans SemiBold;
}

/* .earnings-brief p {
  margin-left: -26.5;
} */

.earnings-quote-driver {
  background: #501F6A;
  box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
  top: 2715px;
  font-size: 25px;
  line-height: 32px;
  text-align: center;
  color: #FFFFFF;
  font-family: IBM Plex Sans;
  left: 0px;
  width: 15em;
  font-size: 25px;
  line-height: 32px;
  padding-top: 3em !important;
  padding-left: 12em !important;
  padding-right: 12em !important;
  padding-bottom: 2em !important;
  margin-top: 2em;
}
 /* Galaxy Fold  */
@media (max-width: 768px) and (min-width: 600px) {
  .classesVideo1 {
      left: 2em;
      top: 116em !important;
  }
  .testimonial {
    margin-top: 28em !important;
    margin-left: -16.5em !important;
  }
  .earnings-quote-driver {
    padding: 1em !important;
  }
}

@media only screen and (min-width: 360px) and (max-width: 370px) {
/* .earnings-brief h4 {
  margin-top: -10em !important;
  width: 44em;
  }
  .testimonial {
    margin-left: -8.5em !important;
    margin-top: 1em !important;
  } */
  .carousel_background_driver {
    margin-left: 0px;
    margin-top: 2em;
}
  .EarningsRider p {
    height: 350px !important;
    margin-top: 17px !important;
  }
  .EarningsRider a {
    margin-top: 0.2em !important;
    font-size: 53px !important;
    line-height: 1px;
}
  .EarningsRider a {
    /* height: 350px !important; */
    margin-top: 1 !important;
  }
  .classesVideo1 {
    top: -32em !important;
    position: relative;
 }
}

@media (max-width: 450px) and (min-width: 400px) {
  .EarningsRider p {
    margin-top: 25px !important;
  }
  .classesVideo1 {
    position: relative;
    top: -140px !important;
}
}
/* RIDERS */
.Earnings {
  top: 1850px;
  position: absolute;
  width: 1248px;
  height: 619px;
  left: 102px;
}

.Earnings p {
  position: absolute;
  width: 261px;
  height: 83px;
  left: 36px;
  top: -34px;
  font-family: IBM Plex Sans SemiBold;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 44px;
  color: #000000;
}

.Earnings p1 {
  position: absolute;
  width: 221px;
  height: 55px;
  left: 921px;
    top: -34px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #99811D;
}

.Earnings p2 {
  position: relative;
  font-family: IBM Plex Sans SemiBold;
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 39px;
color: #000000;
top: 788px;
left: 45px;
width: 490px;
height: 39px;
}

.Earnings p3 {
  position: relative;
  width: 686px;
height: 49px;
top: 830px;
right: 387px;
}

.classesVideo {
  position: absolute;
  top: 112em;
  left: 4.9em;
  width: 90% !important; 
}
/* .earnings-brief h4 {
  margin-top: 32em !important;
  font-family: IBM Plex Sans SemiBold;
} */
.earnings-brief p {
  width: 35em !important;
  margin-top: 45em !important;
  font-family: IBM Plex Sans Light !important;
  font-size: 18px !important;
  line-height: 23px !important;
  margin-left: -26.5em;
}
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
  width: 100%;
  margin-bottom: -10px;
}

.earnings-quote{
    background: #501F6A;
    box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
    top: 2715px;
    font-size: 25px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    font-family: IBM Plex Sans;
    left: 0px;
    width: 100%;
    font-size: 25px;
    line-height: 32px;
    padding-top: 3em !important;
    padding-left: 12em !important;
    padding-right: 12em !important;
    padding-bottom: 2em !important;
    /* margin-bottom: 31em !important; */
  }

.EarningsRider p {
  margin-top: 2em;
  width: 8em;
  font-family: IBM Plex Sans SemiBold;
  font-size: 34px;
  line-height: 44px;
  color: #000000;
}
.EarningsRider p1 {
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #99811D;
  margin-top: 2em;
  font-family: IBM Plex Sans SemiBold;
}
.EarningsRider a {
  width: 12em;
  margin-top: 4.6em;
}


@media only screen and (min-width: 505px) and (max-width: 600px) {
  .EarningsRider a {
    margin-top: 20.2em !important;
  }
}

@media only screen and (min-width: 342px) and (max-width: 400px) {
  .EarningsRider p1 {
    position: relative;
    font-size: 10px !important;
    top: -54em !important;
    right: -3.5em;
}
  .classesVideo {
    left: -0.05em !important;
    width: 600px !important;
    height: 350px !important;
      top: 98em !important;
  }
  .earnings-brief h4 {
    margin-top: 9em !important;
    font-family: IBM Plex Sans SemiBold;
    font-size: 23px;
  }
}
@media only screen and (min-width: 401px) and (max-width: 420px) {
  .classesVideo {
    top: 101em !important;
  }
  .EarningsRider p {
      margin-top: 23px !important;
  }
}
/* Galaxy Fold */
@media (min-width: 600px) and (max-width: 768px) {
  .EarningsRider p {
    font-size: 29px;
    line-height: 26px;
    margin-top: 2em;
}
  .EarningsRider a {
    margin-top: 3.4em;
  }
  .classesVideo {
    left: 2em;
    top: 111em;
  }
  .earnings-brief h4 {
    margin-top: 1em !important;
}
  .earnings-brief p {
    margin-left: -12em !important;
    margin-top: 25em !important;
  }
  .testimonial {
    margin-top: 8em !important;
    margin-left: -22.5em !important;
  }
  .earnings-quote {
    position: absolute;
    top: 2295px !important;
    padding: 33px !important;
    font-size: 25px !important;
    line-height: 41px !important;
  }
}

/* Small Phones */
@media only screen and (min-width: 341px) and (max-width: 600px) {
  .HeroRiderText h1 {
    margin-bottom: 2em;
    margin-left: -12em;
    font-size: 15px ;
  }
  .HeroRiderText h2 {
    margin-left: -4.1em;
    font-size: 44px;
    line-height: 47px;
    width: 293px;
    margin-top: -0.5em;
  }
  .enterNoRider {
    margin-left: -64.7em;
    margin-bottom: 7em;
    width: 320px;
    height: 60px;
  }
  .sign-up-rider {
    right: 910px;
  }
  .EarningsRider p {
    margin-top: 5em;
    width: 15em;
    font-family: IBM Plex Sans SemiBold;
    font-size: 17px;
    line-height: 16px;
    color: #000000;
    /* margin-top: 116px; */
    margin-bottom: 1rem;
}
  .EarningsRider p1 {
    font-size: 10px !important;
  }
  .EarningsRider a {
    line-height: 18px;
    margin-top: 7.2em !important;
    width: 300px !important;
  }
  .classesVideo {
    left: -3.5em;
    width: 600px !important;
    height: 350px !important;
    top: 28em;
    position: absolute;
  }
}

@media only screen and (min-width: 360px) and (max-width: 365px) {
  .earnings-brief h4 {
    font-size: 1.5em !important;
    font-family: IBM Plex Sans SemiBold;
    font-size: 20px;
    top: -19.5em;
    width: 22em;
    font-family: IBM Plex Sans SemiBold;
    font-size: 20px;
    position: relative;
}
  .enterNoRider {
    margin-left: -67.7em !important;
  }
  .sign-up-rider {
    right: 936px !important;
    top: 322px !important;
  }
  .testimonial {
    margin-left: -16em !important;
    margin-top: -28em !important;
  }
  
}
@media only screen and (min-width: 375px) and (max-width: 385px) {
  .carousel_background_driver {
    margin-left: 0px;
    margin-top: 2em;
}
  .EarningsRider p {
    margin-top: 23px !important;
  }
  .EarningsRider p1 {
    position: relative;
    font-size: 10px !important;
    top: -18em !important;
  }
  .classesVideo1 {
    margin-top: -9em !important;
  }
}

@media only screen and (min-width: 411px) and (max-width: 420px) {
  .EarningsRider a {
    margin-top: 12em !important;
  }
  .EarningsRider p {
    margin-top: 23px !important;
}
/* .EarningsRider p1 {
  font-size: 10px !important;
  left: 6em;
  font-size: 22px;
  line-height: 26px;
  text-decoration-line: underline;
  color: #99811D;
  margin-top: 2em;
  font-family: IBM Plex Sans SemiBold;
} */
.link {
  top: -171px !important;
  position: relative;
}
  .earnings-brief h4 {
    margin-top: -5.5em !important;
    font-family: IBM Plex Sans SemiBold;
    font-size: 24px;
    line-height: 24px;
    margin-left: 5px !important;
    /* margin-top: -5.5em !important; */
    /* font-size: 24px; */
    line-height: 27px;
    margin-left: 5px !important;
    font-size: 1.5em !important;
    width: 15em;
    font-family: IBM Plex Sans SemiBold;
}
  .testimonial {
    margin-top: -4.8em !important;
    margin-left: -13em !important;
}
  .earnings-quote {
    top: 2101px !important;
    font-size: 23px;
    line-height: 26px;
    padding-top: 1em !important;
    padding-left: 2em !important;
    padding-right: 2em !important;
    padding-bottom: 1em !important;
  }
  .earnings-quote-driver {
    padding: 2em !important;
  }
}
@media only screen and (max-width: 340px) {
  .EarningsRider p {
    margin-top: 0.5em;
    line-height: 20px;
    width: 18em;
    font-family: IBM Plex Sans SemiBold;
    font-size: 19px;
  }
  .EarningsRider p1 {
    font-size: 12px !important;
    line-height: 10px !important;
    text-decoration-line: underline;
    color: #99811D;
    margin-top: 0.5em !important;
  }
  .EarningsRider a {
    line-height: 1em;
    margin-top: 0.6em !important;
  }
  .classesVideo {
    position: absolute;
    top: 98em;
    left: 0.9em;
    width: 90% !important;
  }
  .earnings-brief h4 {
    font-size: 24px !important;
    width: 781px !important;
    font-family: 'IBM Plex Sans Light';
    line-height: 25px;
  }

  .earnings-brief h4 {
    width: 15em;
}

  .earnings-brief p {
    width: 35em !important;
    margin-top: 21em !important;
    font-family: IBM Plex Sans Light !important;
    font-size: 11px !important;
    line-height: 15px !important;
    margin-left: -17em;
  }
  .testimonial {
    margin-left: -23em !important;
    margin-top: 5em !important;
    font-family: IBM Plex Sans Light;
    width: 604px;
}
  .earnings-quote {
    top: 1948px !important;
    font-size: 20px;
    line-height: 24px;
    padding: 1em !important;
    height: auto;
  }
  .earnings-quote-driver {
    padding: 2em !important;
  }
}
/* iPad view */
@media (min-width: 768px) and (max-width: 1024px) {
  .HeroRiderText h1 {
    margin-left: -6.4em;
  }
  .HeroRiderText h2 {
    margin-left: -2.1em;
    text-align: left;
    width: 12em;
    font-size: 57px;
  }
  .enterNoRider {
    margin-left: -55em;
  }
  .sign-up-rider {
    right: 834px;
  }
  .classesVideo {
    top: 102em;
    left: 2.9em;
  }
  .earnings-brief h4 {
    margin-top: 24em !important;
  }
  .earnings-brief p {
    margin-top: 35em !important;
  }
  .earnings-quote {
    top: 2363px;
    padding-top: 3em !important;
    padding-left: 8em !important;
    padding-right: 8em !important;
    padding-bottom: 3em !important;
  }
}
@media (min-width: 360px) and (max-width: 365px) {
  .EarningsRider p {
    height: 350px !important;
    margin-top: 168px;
  }
  .EarningsRider a {
    margin-top: 10.2em !important;
  }
  .classesVideo {
    margin-top: 43px !important;
    /* margin-top: 172px !important; */
    top: 103em !important;
  }
  .earnings-brief h4 {
    margin-top: -42px !important;
    font-family: IBM Plex Sans SemiBold;
    font-size: 20px;
  }
  .earnings-brief p {
  width: 35em !important;
  margin-top: 1em !important;
  font-family: IBM Plex Sans Light !important;
  font-size: 12px !important;
  line-height: 16px !important;
  margin-left: -15em;
  }
}
@media (min-width: 370px) and (max-width: 380px) {
  .classesVideo {
    top: 104em !important;
  }
  .EarningsRider a {
    margin-top: 12.6em !important;
  }
  .earnings-brief h4 {
    margin-top: 10em !important;
    line-height: 24px;
  }
  .earnings-brief p {
    margin-top: 25em !important;
    font-family: IBM Plex Sans Light !important;
    font-size: 11px !important;
    line-height: 15px !important;
    margin-left: -21em;
  }
  .testimonial {
    line-height: 25px !important;
    margin-top: 5em !important;
      margin-left: -27em !important;
  }
 
.earnings-brief h4 {
    margin-top: 9em !important;
    font-family: IBM Plex Sans SemiBold;
    font-size: 21px;
    width: 26em;
    margin-top: 0em !important;
  }
}

@media (min-width: 325px) and (max-width:355px) {
.earnings-quote {
  top: 2105px !important;
  font-size: 21px;
  line-height: 32px;
  padding-top: 1em !important;
  padding-left: 2em !important;
  padding-right: 2em !important;
  padding-bottom: 2em !important;
  height: auto;
  }
}

@media (min-width: 356px) and (max-width:375px) {
.earnings-quote {
    top: 2117px;
    padding-top: 2em !important;
    padding-left: 1em !important;
    padding-right: 1em !important;
    padding-bottom: 0em !important;
    font-size: 22px;
    line-height: 26px;
  }
  .earnings-quote-driver {
    top: -411px !important;
    position: relative;
    padding: 2em !important;
  }
}