.BorderSpacing {
  position: absolute;
width: 1440px;
height: 87px;
left: 0px;
top: 844px;
background: #FFFFFF;
box-shadow: 0px 2px 6px rgba(120, 120, 118, 0.25);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .BorderSpacing {
    top: 1309px;
    width: 411px;
}
}
