.sign-up, .apply, .help, .talk, .form-input,
select,
textarea,
button,
.form-control,
.input-field:focus,
.input-field:active {
outline: 0px !important;
-webkit-appearance: none !important;
border-color: transparent;
-webkit-box-shadow: none;
box-shadow: none !important;
}

.button {
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
  margin-top: 1em;
  margin-bottom: 3.5em;
}
.sign-up, .apply, .help, .talk {
  font-family: IBM Plex Sans SemiBold;
  font-style: normal;
  font-size: 18px;
line-height: 23px;
}
.sign-up, .apply {
  font-family: IBM Plex Sans Light;
  width: 195px;
  height: 54px;
  border-radius: 100px 100px !important;
  font-weight: bold !important;
}
.sign-up {
  background: #4E1D69 !important;
}
.sign-up:hover {
  background: #FFFFFF !important;
  color: #4E1D69 !important;
}
.apply {
  background: #FFFFFF !important;
  color: #4E1D69 !important;
}
.apply:hover {
  background: #4E1D69 !important;
  color: #FFFFFF !important;
}
  .help:hover {
    font-weight: bold;
  }
  .talk:hover {
    font-weight: bold;
  }
  .help, .talk {
    border: none !important;
    color: #4E1D69 !important;
    background: #fff !important;
  }

  /* hr.rule {
    display: none!important;
  } */
