.FAQComponent {
  padding-left: 4em !important;
  margin-top: 4em;
  background: #501F6A;
}
.FAQComponent h1 {
  padding-top: 5em;
  text-transform: uppercase;
  color: #B1B1B1;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2.8px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
}
.FAQComponent h2 {
  text-transform: capitalize;
  letter-spacing: -1px;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 50px;
  font-family: Montserrat;
} 
.FAQComponent h3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
}
/*.FAQComponent {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 1195px;
  height: 707px;
  background: #501F6A;
}
 #FAQComponent h1 {
  text-transform: uppercase;
  position: absolute;
  height: 22px;
  left: 10.42%;
  right: 73.47%;
  top: 120px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 2.8px;
  text-transform: uppercase;
  color: #B1B1B1;
}
#FAQComponent h2 {
  text-transform: capitalize;
  position: absolute;
  height: 50px;
  left: 10.42%;
  right: 54.17%;
  top: calc(48% - 50px/2 - 143.5px);
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -1px;
  color: #FFFFFF;
}
#FAQComponent h3 {
  position: absolute;
left: 10.42%;
right: 41.74%;
top: 33.07%;
bottom: 52.18%;

font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 25px;
color: rgba(255, 255, 255, 0.7);
}

.left {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 21px;
    letter-spacing: -0.5px;
    color: #FFFFFF;
    position: relative;
    text-align: center;
}
.left p1 {
  padding-left: 30px;
  position: absolute;
  width: 405px;
  height: 56px;
  left: -21.5%;
  right: 62.29%;
  top: 313px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  background: #99811D;
  display: flex;
  align-items: center;
}
.left p2 {
  padding-left: 30px;
  position: absolute;
  width: 405px;
height: 56px;
left: -21.5%;
    right: 60.29%;
   top: 371px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 21px;
letter-spacing: -0.5px;
color: #FFFFFF;
background: #515356;
display: flex;
  align-items: center;
}
.left p3 {
  padding-left: 30px;
  position: absolute;
  height: 21px;
  width: 405px;
  height: 56px;
  left: -21.5%;
  right: 66.46%;
  top: 429px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  background: #515356;
  display: flex;
  align-items: center;
}
.left p4 {
  padding-left: 30px;
  position: absolute;
  height: 21px;
  width: 405px;
  height: 56px;
  left: -21.5%;
  right: 66.46%;
  top: 487px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  background: #515356;
  display: flex;
  align-items: center;
}
.left p5 {
  padding-left: 30px;
  position: absolute;
  height: 21px;
  width: 405px;
  height: 56px;
  left: -21.5%;
  right: 66.46%;
  top: 545px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  background: #515356;
  display: flex;
  align-items: center;
}
.left p6 {
  padding-left: 30px;
  position: absolute;
  height: 21px;
  width: 405px;
  height: 56px;
  left: -21.5%;
  right: 66.46%;
  top: 603px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: -0.5px;
  color: #FFFFFF;
  background: #515356;
  display: flex;
  align-items: center;
}
.right {
  width: 662px;
  position: absolute;
  height: 346px;
  right: 40px;
  top: 313px;
  border: 2px solid #99811D;
  box-sizing: border-box;
}

.right p {
  position: absolute;
  height: 175px;
  left: 4.35%;
  right: 15.68%;
  top: 10.02%;
  bottom: 41.87%;
  width: 662px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.7);
  
} */


@media only screen and (min-width: 320px) and (max-width: 767px) {
  .FAQComponent h1 {
    width: 219px;
    }
    .FAQComponent h2 {
      font-size: 25px;
      line-height: 50px;
      letter-spacing: -1px;
      width: 319px;
      margin-top: -20px;
    }
    .FAQComponent h3 {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      width: 283px;
      line-height: 19px;
    }
  }

  @media only screen and (max-width: 320px) {
  .FAQComponent {
    padding-left: 0em !important;
  }
}

/* iPad view */
@media (min-width: 768px) and (max-width: 1024px) {
  
}