@font-face {
  font-family: IBM Plex Sans Medium;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: IBM Plex Sans Light;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}
#features {
  padding-top: 6rem;
  padding-bottom: 6rem;
    background-color: #fff;
    /* height: 1%; */
    /* margin-top: 20%; */
    /* margin: 0px auto 0px auto; */
    /* padding: 0px 0px 0px 0px */
}
.feature-grid {
  padding: 2rem;
}
.feature-grid:hover {
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.active {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}
h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #333333;
}
.img2 {
  margin-bottom: 3rem;
}
.img2 h5 {
  font-family: IBM Plex Sans Medium;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 31px;
text-align: center;
color: #1B1B1B;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}
.img2 p {
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}
.circle-background {
  background: rgba(78, 29, 105, 0.1);
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: space-around;
  margin: auto;
}
.circle-background h5 p {
  margin: auto;
}
.feature {
  margin-top: 1%;
}
.iconDetails {
  margin-left:2%;
 float:left; 
 height:40px;
 width:40px; 
 } 
 .features_grid{
   margin: 0 2rem;
 }
/*  
 .container2 {
     width:100%;
     height:auto;
     padding:1%;
 } */