@font-face {
  font-family: IBM Plex Sans Medium;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: IBM Plex Sans Light;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}
#features {
  padding-top: 6rem;
  padding-bottom: 6rem;
    background-color: #fff;
}
.feature-grid {
  height: 338px;
}
.feature-grid:hover {
  cursor: pointer;
  background: #FFFFFF;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.active {
  background: #FFFFFF;
  border-radius: 10px;
  box-shadow: 5px 10px 20px 1px rgba(0,0,0,0.253)!important;
}
h2 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #333333;
}
.img2 {
  margin-bottom: 3rem;
}

.img2 h5 {
  font-family: IBM Plex Sans Medium;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 21px;
text-align: center;
color: #1B1B1B;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  position: absolute;
  top: 9.15em;
  left: 5.8em;
}

.img2 p {
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  position: absolute;
  top: 17.6875em;
  left: 4.8125em;
}
.img-background {
  position: absolute;
  width: 292px;
  height: 239px;
  left: 75px;
  top: 16px;
}
.middle-title {
  font-family: IBM Plex Sans Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  color: #1B1B1B;
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    position: absolute;
    top: 9.15em;
  left: 7.32em;
}
.middle-text {
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  position: absolute;
  top: 283px;
  left: 4.0625em;
}
.middle {
  position: relative;
  top: 3.125em;
}
.center {
  position: absolute;
  left: 65px !important;
}
.img-background h5 p {
  margin: auto;
}
.feature {
  margin-top: 1%;
}
.iconDetails {
  margin-left:2%;
 float:left; 
 height:40px;
 width:40px; 
 } 
 .features_grid{
   margin: 0 2rem;
 }
.ride {
  position: absolute;
  top: 10.19em;
  left: 3.8em;
  width: 292px;
  height: 239px;
  font-family: IBM Plex Sans Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 21px;
  text-align: center;
  color: #1B1B1B;
}
.end {
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  position: absolute;
  top: 17.6875em;
  left: 5.4em;
}

@media only screen and (min-width: 767px) and (max-width: 1024px) {
  .first-img {
    left: 1em;
    width: 7em;
  }
  .active {
    width: 20em;
  }
  .img2 h5 {
    left: 4.1em;
  }
  .img2 p {
    left: 2.8125em;
  }
  .middle {
    left: -3em;
  }
  .middle-title {
    left: 4.94em;
  }
  .middle-text {
    left: 2.0625em;
  }
  .last {
    left: -1em;
  }
}



@media only screen and (max-width: 768px) {
   .feature-grid {
    width: 24.5em;
    right: -4.4375em;
    text-align: center;
    position: relative;
}
   #features {
    padding-top: 0rem;
    padding-bottom: 0rem;
    background-color: #fff;
  }
  .features_grid {
    margin-left: -4rem;
  }
  .feature-a {
    width: 15%;
  }
.img2 h5 {
  width: 310px;
  left: 4.25%;
  margin-left: 34px;
    font-family: IBM Plex Sans Medium;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 21px;
    text-align: center;
    color: #1B1B1B;
    margin-bottom: 1.5rem;
    position: absolute;
    top: 8.75em;
}
.img2 p {
  width: 18.4375em;
  top: 16.6875em;
    left: 3.8125em;
}
/* .middle {
  left: 11%;
} */
.middle-title {
  width: 310px;
  position: absolute;
  top: 236px;
  left: 13.75%;
  margin-left: -7px;
  margin-bottom: 1.5rem;
  margin-top: 1.05rem;
}
.middle-text {
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  width: 295px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  position: absolute;
  top: 283px;
  left: 49px;
}
.ride {
    left: 11% !important;
     font-family: IBM Plex Sans Medium;
     font-style: normal;
     font-weight: 500;
     font-size: 24px;
     line-height: 21px;
     text-align: center;
     color: #1B1B1B;
     margin-bottom: 1.5rem;
     margin-top: 4.5rem;
     position: absolute;
     top: 6.0375em;
    width: 310px;
}
.end {
    width: 295px;
    top: 255px;
    left: 50px !important;
  }
}

  /* Mobile view */
  @media screen and (max-width: 400px) {
    .feature-grid {
      right: -7.1375em;
  }
    .img-background {
  left: 68px;
  }
  .img2 h5 {
    left: 11.25%;
    margin-left: 0;
    margin-bottom: 0;
  }
  .middle {
    position: relative;
    top: 2.025em;
    right: 1em;
}
  .middle-title {
    left: 10.75%;
    margin-left: -7px;
    margin-bottom: 1.5rem;
    margin-top: 0.05rem;
  }
  .middle-text {
    top: 266px;
  }
}
  /* Tablet view */
  @media (min-width: 401px) and (max-width: 768px) {
  
  }
  /* iPad view */
  @media (min-width: 768px) and (max-width: 1024px) {
    
  }

/* Galaxy Fold */
@media screen 
  and (device-width: 1536px) 
  and (device-height: 2152px) 
  and (-webkit-min-device-pixel-ratio: 1.331) 
  and (-webkit-max-device-pixel-ratio: 1.332) {
    .middle {
      position: relative;
      top: 3.125em;
      left: 0.95em;
      }
}
