@font-face {
    font-family: IBM Plex Sans Medium;
    src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
  }
  
  @font-face {
    font-family: IBM Plex Sans Light;
    src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
  }
  .bEjdwM {
    -webkit-text-decoration: none;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-family: IBM Plex Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4E1D69 !important;
    }
    .bEjdwM a {
      color: #4E1D69 !important;
      text-decoration: none !important;
    }
  .royalTripLogo {
    bottom: 107px !important;
    position: absolute;
    left: 107px !important;
  }
 .appstore-playstore2 {
     margin-left: 5.49rem;
     margin-top: 5.5rem;
     color: #99811D !important;
 }
  .appstore-playstore2 img {
      margin: 13px;
      width: 140px;
  }
  .question {
      display: flex;
      margin-left: 11.55rem;
      margin-top: 3rem;
  }
  .eRVeVP {
    color: #99811D !important;
    font-size: 20px;
    margin: 0 7px;
}
  .Hsue {
    margin-left: 154px;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    color: #99811D !important;
    bottom: 130px;
    top: 37px;
}
  .question p{
      margin-bottom: 0;
      margin-left: 0.7rem;
    font-family: IBM Plex Sans SemiBold !important;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #99811D;
  }
  .question-icon {
    color: #99811D !important;
  }
  .kOefKs{
      justify-content: flex-start !important;
  }
  
  .jykwZK {
    font-family: IBM Plex Sans SemiBold !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #4E1D69 !important;
    margin-bottom: 16px;
}
    .footer-link {
    font-family: IBM Plex Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #000000;
}
.sc-jrsJCI a {
  text-decoration: none;
}
.jwaAXM{
    margin: 0 !important;
}
.eOfDOf {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 88px;
}
.KJqga {
  margin-top: 35px;
  margin-left: 155px;
  display: flex;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  color: #000000;
}
.gqXWtw {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1000px;
  margin-left: 129px !important;
}
.dbrNqS {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 3.1rem;
  color: #99811D;
}
.hSKfGL {
  width: 100% !important;
  position: absolute;
  top: 3010px !important;
  margin-top: 4em !important;
}
.jXrSDY {
  background: #F9F9F9;
  padding: 4rem 0 2rem 0;
}
.cUFyQW {
  right: 1px;
  bottom: 3px;
  position: absolute;
}

  /* Mobile view */
  @media only screen and (max-width: 414px) {
  .hSKfGL {
    width: 100% !important;
    position: absolute;
    top: 4700px !important;
  }
.royalTripLogo {
  left: 65px !important;
}
.question-icon {
  right: -11px;
  top: -30px;
  position: relative;
}
.question p {
  font-family: IBM Plex Sans SemiBold !important;
  position: relative;
  top: -32px;
  left: 8px;
}
.cUFyQW {
    top: -545px;
    right: 73px;
}
.Hsue {
  font-family: IBM Plex Sans SemiBold !important;
  position: relative;
  top: 18px;
  left: -74px;
}
}
@media (min-width: 401px) and (max-width: 420px) {
  .question {
    margin-left: 9rem !important;
  }
  .royalTripIcons {
    left: 10.8em !important;
  }
}
  /* Tablet view */
  @media (min-width: 401px) and (max-width: 625px) {
    .dbrNqS {
      margin-left: -4rem;
      margin-top: -7.5em;
  }
    .royalTripLogo {
      margin-left: 2em !important;
      margin-left: 1.5em !important;
      margin-top: 1em !important;
    }
    .appstore-playstore2 {
      margin-left: 8.4rem;
      margin-top: 4.5rem;
    }
    .question {
      display: flex;
      margin-top: 3rem;
      margin-left: 9.05rem;
  }
}
  /* iPad view */
  @media (min-width: 768px) and (max-width: 1024px) {
  
  }
  /* Galaxy Fold */
  @media (min-width: 626px) and (max-width: 768px) {
    .footer-container {
      justify-content: center !important;
    }
  .iGCBmf {
    position: relative;
    padding-top: 32px;
    top: 29px;
    }
    .bEjdwM {
    -webkit-text-decoration: none;
    text-decoration: none;
    margin-bottom: 0.5rem;
    font-family: IBM Plex Sans Light;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 30px;
    color: #4E1D69 !important;
    }
    .bEjdwM a {
      color: #4E1D69 !important;
      text-decoration: none !important;
    }
    .cUFyQW {
        right: 46px !important;
        top: -489px !important;
    }
    .jykwZK {
    font-family: IBM Plex Sans SemiBold !important;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #4E1D69 !important;
    margin-bottom: 16px;
    }
    .hSKfGL {
      width: 100% !important;
      position: absolute;
      top: 4658px !important;
      margin-top: 4em !important;
    }
    .royalTripLogo {
      height: 57px;
      bottom: 37px !important;
      left: 85px !important;
      position: absolute;
      margin-left: 3.2em !important;
    }
    .appstore-playstore2 {
      position: absolute;
      margin: 0 !important;
      color: #99811D !important;
      top: -63px;
      right: 176px;
    }
    .question {
      text-align: center;
      position: relative;
      left: 8%;
      bottom: -6px;
  }
    .question p {
      font-family: IBM Plex Sans SemiBold;
    }
    .Hsue {
        font-family: IBM Plex Sans SemiBold !important;
        position: relative;
        top: 150px;
        left: 31px;
    }
    .gqXWtw {
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: row-reverse;
    }
    .royalTripIcons {
      left: -5.7em;
      margin-top: -7em;
      position: relative;
    }
    .jXrSDY {
      height: 797px !important;
    }
  }
  
  a{
    color: #4E1D69 !important;
    /* font-weight: normal; */
    font-family: IBM Plex Sans SemiBold !important;
    font-style: normal;
  }

  @media (min-width: 320px) and (max-width: 450px) {
  .cUFyQW {
    top: -683px;
    right: 96px;
  }
  .dbrNqS {
    margin-top: -2em;
    margin-left: 10rem;
  }
  .question{
    margin-left: 6.2rem;
  }
  .royalTripIcons {
    position: absolute;
    margin-top: 3em;
    left: 8em;
  }
  .Hsue {
    left: -62px;
  }
}