.FreePass {
    position: absolute;
    width: 430px;
    left: 728px;
    height: 490px;
    top: 108px;
    bottom: 0%;
    background: #FFFFFF;
    border-radius: 16px;
}
.header {
    position: absolute;
    left: 10%;
    top: 2%;
    background: #501F6A;
    width: 340px;
    height: 50px;
}
.header p1 {
    position: absolute;
    width: 216px;
    height: 25px;
    left: 79px;
    top: 12.5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.8px;
    color: #FFFFFF;
}
.full-name {
    position: absolute;
    left: 0.35px;
    top: 77.5px;
    background: #F5F5F5;
    width: 340px;
    height: 50px;
}
.full-name::placeholder {
    text-align: left;
    font-family: Open Sans;
font-style: italic;
font-weight: normal;
font-size: 11px;
line-height: 25px;
display: flex;
align-items: center;
letter-spacing: 0.44px;
color: #999999;
}
.full-name:placeholder-shown {
    text-align: left;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.44px;
}
.e-mail {
    position: absolute;
    left: 0.35px;
    top: 153.5px;
    background: #F5F5F5;
    width: 340px;
    height: 50px;
}
.e-mail::placeholder {
    text-align: left;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.44px;
    color: #999999;
}
.phone-no {
    position: absolute;
    left: 0.35px;
    top: 229.5px;
    bottom: 43.67%;
    background: #F5F5F5;
    width: 340px;
    height: 50px;
}
.phone-no::placeholder {
    text-align: left;
    font-family: Open Sans;
    font-style: italic;
    font-weight: normal;
    font-size: 11px;
    line-height: 25px;
    display: flex;
    align-items: center;
    letter-spacing: 0.44px;
    color: #999999;
}
.some-details {
    position: absolute;
    left: 0.35px;
    top: 305.5px;
    bottom: 43.67%;
    background: #F5F5F5;
    width: 340px;
    height: 100px;
}
.some-details::placeholder {
    text-align: left;
    font-family: Open Sans;
font-style: italic;
font-weight: normal;
font-size: 11px;
line-height: 25px;
display: flex;
align-items: center;
letter-spacing: 0.44px;
color: #999999;
position: absolute;
width: 122px;
height: 25px;
left: 54px;
top: 300px;
}
#join-us {
    position: absolute;
    left: 67px;
    top: 424px;
    background: #501F6A !important;
    border-radius: 22.5px !important;
    width: 190px;
    height: 45px;
    text-transform: uppercase;
}
#join-us:hover {
    background: #FFFFFF !important;
    color: #501F6A;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
    .FreePass {
        width: 322px;
    left: 48px;
    height: 490px;
    top: 508px;
    }
    .header {
        width: 254px;
        height: 50px;
    }
    .header p1 {
        left: 41px;
    top: 12.5px;
    }
    .full-name, .e-mail, .phone-no {
        width: 254.06px;
        height: 50px;
    }
    .some-details {
        width: 254.06px;
    }
    #join-us {
        left: 32px;
    }
}