@font-face {
    font-family: roboto-cufonfonts;
    src: url("../../assets/fonts/roboto-cufonfonts/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-family: roboto-cufonfonts;
    src: url("../../assets/fonts/roboto-cufonfonts/Roboto-Black.ttf");
  }

   .get_started {
       align-items: center;
        margin-top: 8em;
        height: 29em; 
    border-radius: 0px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.get_started_1 {
    vertical-align: center;
    height: 29em; 
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    border-top: 7px solid #99811D !important;
    padding-top: 1em;
    padding-bottom: 1em;
}
  .value-btn {
        text-transform: capitalize;
        background: #99811D !important;
        /* background: #501F6A !important; */
        box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        color: #FFFFFF !important;
  }
  .value-btn:hover {
    background: #501F6A !important;
  }
  .value-btn-middle {
    text-transform: capitalize;
    /* background: #99811D !important; */
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.value-btn-middle:hover {
  background: #FFFFFF !important;
  color: #501F6A !important;
}
  .first_get_started, .third_get_started {
    text-align: center !important;
    top: 15%;
  }
  .second_get_started {
      text-align: center !important;
  }
  .icon_1 {
      padding-bottom: 1em;
  }
  .icon_1 img {
    margin-left: 0px;
}
  .value1, .value2 {
    font-family: Roboto;
    font-style: normal;
    font-size: 20px;
    line-height: 25px;
    color: #091D2D;
  }
  .value1 {
    font-weight: bold;
  }
  .value2 {
      font-weight: normal;
  }
  .value3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    color: #524558;
    padding-bottom: 1em;
  }
  .unique {
    padding: 6em;
    height: 34em;
    color: #FFFFFF  !important;
    border-radius: 10px;
    position: absolute;
    overflow: hidden;
    bottom: 0.38%;
    background: linear-gradient(225deg, #501F6A 0%, #4E176C 100%) !important;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    margin-top: -4em;
    margin-bottom: -2em;
  }
  .value1b, .value2b {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    padding-bottom: 1em;
  }
  .value1b {
    font-weight: bold;
  }
  .value2b {
      font-weight: normal;
  }
  .value3b {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    padding-bottom: 5em;
  }

 
@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* .get_started_1 {
    margin-left: 3px !important;
  } */
    .unique {
      color: #FFFFFF !important;
      border-radius: 10px;
      position: absolute;
      overflow: hidden;
      margin-top: 4em;
      margin-bottom: -2em;
      padding-top: em;
      bottom: -9.62%;
  }
  .icon_1 {
      padding-bottom: 5em;
  }
  .third_get_started {
      height: 28em;
    border-radius: 11px;
    border-bottom: 7px solid #99811D !important;
    padding-top: 1em;
    padding-bottom: 3em;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  }
  .last {
    padding-top: 5em;
  }
}