/* @font-face {
    font-family: roboto-cufonfonts;
    src: url("../../assets/fonts/roboto-cufonfonts/Roboto-Regular.ttf");
  }
  
  @font-face {
    font-family: roboto-cufonfonts;
    src: url("../../assets/fonts/roboto-cufonfonts/Roboto-Black.ttf");
  } */
.getStarted {
    height: 762px;
width: 1455px;
left: 0px;
top: 1066px;
border-radius: 0px;
    /* position: absolute; */
    /* left: 9.38%;
    right: 9.38%;
    top: 52.48%;
    bottom: 33.08%; */
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}
.getStarted1 {
    position: absolute;
    height: 522px;
    width: 1170px;
    left: 135px;
    top: 2120px;
    border-radius: 10px;
    
    /* top: 52.37%;
    bottom: 33.19%; */
    /* background: #99811D; */
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    border-top: 7px solid #99811D;
}

.getStarted2 {
    /* position: absolute; */
    height: 522px;
    width: 1170px;
    left: 135px;
    top: 1896px;
    border-radius: 10px;

    /* left: 9.38%;
    right: 9.38%;
    top: 52.48%;
    bottom: 33.08%; */
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.icon-1 {
    position: absolute;
    left: 16.88%;
    right: 75.35%;
    top: 80px;
    bottom: 44.62%;
    
    
}
#safe {
    text-transform: capitalize;
    position: absolute;
    height: 25px;
    left: 3.5%;
    right: 65.97%;
    top: 170px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #091D2D;
}
.convenient {
    position: absolute;
    height: 25px;
    left: 5.5%;
    right: 67.97%;
    top: 220px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #091D2D;
}
.moving {
    width: 276px;
    position: absolute;
    height: 36px;
    left: 7.75%;
    right: 68.22%;
    top: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #524558;
}
.get-started-button1 {
    text-transform: capitalize;
    position: absolute;
    /* left: 19.38%;  */
    right: 77.85%;
    top: 378px;
    background: #501F6A !important;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}
.icon-2 {
    position: absolute;
    left: 43.33%;
    right: 48.19%;
    top: 80px;
    bottom: 44.62%;
    /* background: #FFFFFF; */
}

.get-started-middle {
    height: 582px;
width: 370px;
left: 35.15%;
right: 37.15%;
top: -6.49%; 
border-radius: 10px;
    position: absolute;
    overflow: hidden;
    /* left: 37.15%;
    right: 37.15%;
    top: 51.51%; */
    bottom: 32.38%;
    background: linear-gradient(225deg, #501F6A 0%, #4E176C 100%) !important;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.happy-drivers {

    height: 25px;
width: 310px;
left: 565px;
top: 2041px;
border-radius: nullpx;

    text-transform: capitalize;
position: absolute;
height: 25px;
left: 9.24%;
/* right: 39.24%; */
top: 220px;
/* top: calc(50% - 25px/2 + 247px); */

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

text-align: center;
color: #FFFFFF;
}
.happy-riders {
    height: 25px;
    width: 310px;
    /* left: 565px;
    top: 2081px; */
    text-transform: capitalize;
    position: absolute;
    height: 25px;
    left: 9.24%;
    /* right: 39.24%; */
    top: 270px;
    /* top: calc(50% - 25px/2 + 287px); */
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #FFFFFF;
}
.moving2 {
width: 130px;
left: 125px;
position: absolute;
height: 36px;
top: 360px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

color: #FFFFFF;
}
.get-started-button2 {
    text-transform: capitalize;
    position: absolute;
    left: 46.11%;
    right: 46.11%;
    top: 476px;
    background: #99811D !important;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    position: absolute;
    left: 37.5%;
    right: 49.5%;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}


.icon-3 {
    position: absolute;
    left: 81.04%;
    right: 16.49%;
    top: 80px;
    bottom: 44.62%;
}
#always {
    position: absolute;
    height: 25px;
    left: 67.01%;
    right: 0.46%;
    top: 170px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #091D2D;
}
.there {
    text-transform: capitalize;
    position: absolute;
    height: 25px;
    left: 78.01%;
    right: 10.46%;
    top: 220px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #091D2D;
}
.get {
    position: absolute;
    width: 199px;
    position: absolute;
    height: 36px;
    left: 74.85%;
    right: 10.36%;
    top: 270px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    color: #524558;
}
.get-started-button3 {
    text-transform: capitalize;
    position: absolute;
    /* left: 73.89%;  */
    right: 12.33%;
    top: 378px;
    background: #501F6A !important;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
.getStarted1 {
    position: absolute;
    width: 300px;
    height: 830px;
    left: 30px;
    top: 2564px;
    background: #FFFFFF;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    }
    .icon-1 {
        position: absolute;
        left: 48.07%;
right: 47.93%;
top: 51.35%;
bottom: 48.4%;
    }
    #safe {
    position: absolute;
    height: 25px;
    left: 6.94%;
    right: 6.94%;
    top: calc(50% - 25px/2 + 121px);
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #091D2D;
    }
    .convenient {
        position: absolute;
height: 25px;
left: 6.94%;
right: 6.94%;
top: calc(50% - 25px/2 + 161px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

text-align: center;

color: #091D2D;
    }
    .moving {
        position: absolute;
height: 36px;
left: 31.94%;
right: 31.94%;
top: calc(50% - 36px/2 + 201.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

color: #524558;
    }
    .get-started-button1 {
        left: 34.44%;
right: 34.44%;
top: 55.54%;
bottom: 43.54%;

background: #501F6A;
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
border-radius: 5px;
    }

    .get-started-middle {
        position: absolute;
width: 320px;
height: 260px;
left: 20px;
top: 2498px;

background: #501F6A;
box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
border-radius: 8px;
    }
    .icon-2 {
        position: absolute;
        left: 44.44%;
        right: 44.72%;
        top: 57.62%;
        bottom: 41.49%;
        
        background: #FFFFFF;
    }
    .happy-drivers {
        position: absolute;
height: 25px;
left: 6.94%;
right: 6.94%;
top: calc(50% - 25px/2 + 399px);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

text-align: center;

color: #FFFFFF;

    }
    .happy-riders {

position: absolute;
height: 25px;
left: 6.94%;
right: 6.94%;
top: calc(50% - 25px/2 + 439px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

text-align: center;

color: #FFFFFF;
    }
    .moving2 {
        position: absolute;
height: 36px;
left: 31.94%;
right: 31.94%;
top: calc(50% - 36px/2 + 479.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

color: #FFFFFF;
    }
    .get-started-button2 {
        position: absolute;
left: 34.44%;
right: 34.44%;
top: 61.9%;
bottom: 37.19%;

background: #99811D;
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
border-radius: 5px;
    }
    .icon-3 {
        position: absolute;
left: 44.44%;
right: 44.72%;
top: 63.57%;
bottom: 35.54%;

background: #501F6A;
    }
    #always {
        position: absolute;
height: 25px;
left: 6.94%;
right: 6.94%;
top: calc(50% - 25px/2 + 668px);

font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

text-align: center;

color: #091D2D;
    }
    .there {
        position: absolute;
height: 25px;
left: 6.94%;
right: 6.94%;
top: calc(50% - 25px/2 + 708px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 25px;
/* identical to box height, or 125% */

text-align: center;

color: #091D2D;
    }
    .get {
        position: absolute;
height: 36px;
left: 30.28%;
right: 30.56%;
top: calc(50% - 36px/2 + 748.5px);

font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

color: #524558;
    }
    .get-started-button3 {
        position: absolute;
left: 34.44%;
right: 34.44%;
top: 68.05%;
bottom: 31.04%;

background: #501F6A;
box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
border-radius: 5px;
position: absolute;
height: 19px;
left: 40%;
right: 40%;
top: calc(50% - 19px/2 + 812px);

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 19px;
/* identical to box height, or 136% */

text-align: center;

color: #FFFFFF;
    }
}