.HeroContactUs {
  position: relative;
}
.HeroContactUs h1{
  position: absolute;
height: 22px;
left: 41.39%;
right: 41.39%;
top: 120px;
width: 248px;
/* top: calc(50% - 22px/2 - 1130px); */
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */
text-align: center;
letter-spacing: 2.8px;
text-transform: uppercase;
color: #B1B1B1;
}
.HeroContactUs h2 {
  position: absolute;
  left: 20.14%;
  height: 100px;
  width: 860px;
right: 20.14%;
top: 143px;
bottom: 87.74%;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 36px;
line-height: 50px;
/* or 139% */

text-align: center;
letter-spacing: -1px;

color: #FFFFFF;
}

  .find-more {
    text-transform: uppercase;
    position: absolute !important;
    bottom: 33%;
    background: #99811D !important;
    border-radius: 40px;
    width: 235px;
    height: 46px;
    position: absolute;
    right: 41.79%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    border-radius: 40px !important;
}


.find-more:hover {
  background: #4E1D69 !important;
}
.joinUsGrid {
  background: #FFFFFF;
  width: 1140px;
  height: 357px;
  position: absolute;
  left: 10.27%;
  top: 436px;
}
.joinUsGrid img {
  width: 58px;
  height: 62px;
}
.block-left {
  position: absolute;
    left: 21.49%;
    right: 63.12%;
    top: 26.47%;
    bottom: 67.27%;
}
.block-left img {
  position: absolute;
  right: 119px;
}
.block-left p1 {
  position: absolute;
  height: 31px;
  left: -39.38%;
  right: 68.26%;
  top: 75px;
  width: 212px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  letter-spacing: -0.7px;
  color: #333333;
}
.block-left p2 {
  position: absolute;
  left: -80.78%; 
  right: -5.14%;
  top: 575.01%;
  bottom: 71.14%;
  width: 330px;
  height: 50px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #747578;
}
.block-middle {
  position: absolute;
left: 36.88%;
right: 36.74%;
top: 19.47%;
bottom: 67.27%;
}
.block-middle img {
  position: absolute;
  top: 25px;
  right: 115px;
}
.block-middle p1 {
  position: absolute;
  height: 31px;
  left: 26.806%;
  right: 44.72%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  width: 153px;
  text-align: center;
  letter-spacing: -0.7px;
  /* top: calc(50% - 31px/2 - 646.5px); */
  top: 99px;
  color: #333333;
}
.block-middle p2 {
  position: absolute;
  left: -2.39%;
    right: 38.47%;
    top: 325.01%;
    bottom: 71.14%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  width: 330px;
  text-align: center;
  
  color: #747578;
}
.block-right {
  position: absolute;
left: 63.26%;
right: 10.35%;
top: 19.47%;
bottom: 67.27%;
}
.block-right img {
  position: absolute;
  top: 21px;
  right: 107px;
}
.block-right p1 {
  position: absolute;
height: 31px;
/* left: 69.27%; */
right: 10.22%;
width: 203px;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 31px;
top: 99px;
text-align: center;
letter-spacing: -0.7px;

color: #333333;
}
.block-right p2 {
  position: absolute;
  /* left: 65%; */
  right: -10.92%;
  top: 324.01%;
  bottom: 71.14%;
  width: 330px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  color: #747578;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .HeroContactUsImg2 {
    /* width: 100%;
    height: 100%; */
    display: none;
  }
  .HeroContactUs > img {
    width: 100%;
    height: 504px;
    /* margin-top: -64px; */
}
.HeroContactUs h1 {
  left: 20.39% !important;
  right: 17.39%;
    top: 162px;
}
.HeroContactUs h2 {
  top: 220px;
  left: 62px;
  font-size: 24px;
line-height: 29px;
width: 281px;
color: #333333;
}
.find-more {
  width: 222px;
  right: 91px;
  top: 320px;
  text-transform: uppercase;
  position: absolute !important;
  bottom: 33%;
  background: #99811D !important;
  }
  .joinUsGrid {
    width: 360px;
  }
  .block-left {
    position: absolute;
    left: 21.49%;
    right: 63.12%;
    top: 43.47%;
    bottom: 67.27%;
  }
  .block-left img {
    position: absolute;
    right: -61px;
}
.block-left p1 {
  height: 31px;
    /* left: -105.38%; */
    right: -242.26%;
    top: 97px;
}
.block-left p2 {
  position: absolute;
  left: -73.78px;
    top: 131.01px;
    /* top: 575.01%; */
    bottom: 71.14%;
    width: 330px;
    font-size: 13px;
line-height: 25px;
}
.block-middle {
  position: absolute;
  top: 110px;
}
.block-middle img {
position: absolute;
top: 274px;
right: 34px;
}
.block-middle p1 {
  right: -2.28%;
  left: -47.194%;
  position: absolute;
  top: 358px;
}
.block-middle p2 {
  right: -91.53px;
  left: -132.39px;
    top: 404.01px;
  bottom: 71.14%;
  font-size: 13px;
line-height: 25px;
}
.block-right img {
  position: absolute;
  top: 547px;
  right: 128px;
}
.block-right p1 {
  position: absolute;
  height: 31px;
  top: 621px;
  right: 63.22%;
}
.block-right p2 {
  right: -7.92%;
  top: 667px;
  font-size: 13px;
line-height: 25px;
}
/*.block-left p1{
  position: absolute;
  left: -198px;
  top: 86px;
}
.block-left p2 {
  position: absolute;
    left: -252px;
    top: 135px;
}
.block-middle img {
  position: absolute;
    top: 269px;
    right: 540px;
}
.block-middle p1 {
  position: absolute;
  height: 31px;
  left: -345.194px;
  bottom: -310px;
  top: 360px;
  right: 491.72px;
}
.block-middle p2 {
  position: absolute;
  left: -436.39px;
  right: 407.7px;
  top: 867.01%;
  bottom: -410.86px;
}
.block-right img {
  position: absolute;
    left: -597.39px;
    right: 407.7px;
    top: 539.01px;
    bottom: -410.86px;
}
.block-right p1 {
top: 641px;
left: -677px;
}
.block-right p2 {
  left: -731px;
  top: 686px;
}*/
} 