.HeroFAQImg{
  position: relative;
  text-align: center;
  /* mix-blend-mode: normal;
opacity: 0.7; */
/* height: 507px; */
}
.how {
  position: absolute;
    /* height: 48px; */
    left: 38.4%;
    top: 48%;
    text-align: center;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 1.425px;
    color: #ffffff;
}
.ask {
  width: 554px;
  height: 51.27px;
  position: absolute;
  right: 30.76%;
  top: 58.31%;
  bottom: 86.9%;
  background: #FFFFFF;
  border-radius: 4px;
}
.ask::placeholder {
  text-align: left;
}
.search-icon {
  left: 952px;
  width: 40px;
  height: 39.44px;
  bottom: 262px;
  position: relative;
  cursor: pointer;
}
.popular {
  position: absolute;
  /* height: 48px; */
  left: 33%;
  top: 69%;
  text-align: center;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 1.425px;
  color: #ffffff;
}
.stay-container {
  position: absolute;
  width: 1440px;
  height: 16px;
  left: -13px;
  top: 680px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
}
.stay {
  margin-top: 34px;
  position: absolute;
  /* width: 226px; */
  height: 40px;
  left: 624px;
  top: -86px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
}
.grid-why {
  position: absolute;
    top: 730px;
    right: -7px;
}
.box-container {
      width: 360px;
    height: 347px;
    background: #FFFFFF;
    box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    position: relative;
    left: -158px;
}
.box {
  position: absolute;
  left: 22.39%;
  /* right: 74.56%; */
  top: 10.31%;
  bottom: 69.45%;
}

.box-container h1 {
  position: absolute;
    bottom: 122px;
    width: 134px;
    height: 26px;
    left: 30.26%;
    right: 72.43%;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.675px;
  color: #1E2022;
}
.box-container p {
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 27px;
text-align: center;
letter-spacing: 0.6px;
width: 310px;
color: #77838F;
  position: relative;
    bottom: -229px;
    left: 29px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .HeroFAQ {
    width: 360px;
height: 507px;
  }
  .HeroFAQImg {
    display: none;
  }
  .how {
    font-size: 30px;
line-height: 48px;
text-align: center;
letter-spacing: 1.425px;
color: #333333;
width: 276px;
height: 48px;  
left: 83px;
top: 38%;
font-family: IBM Plex Sans SemiBold;
}
.ask {
  width: 354px;
  height: 51.27px;
  position: absolute;
  right: 4.76%;
  top: 46.31%;
  bottom: 86.9%;
  border-radius: 4px;
}
.search-icon {
  height: 39.43998718261719px;
    width: 40px;
    left: 346px;
    top: 267px;
}
.popular {
  font-size: 12px;
line-height: 27px;
color: #333333;
width: 323px;
left: 14%;
top: 56%;
}
.stay-container {
  width: 360px;
  /* top: 82px; */
}
.stay {
  left: 133px;
  top: -79px;
    font-family: IBM Plex Sans SemiBold;
}
.box-container {
  width: 360px;
  height: 347px;
  background: #FFFFFF;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  position: relative;
  left: -14px;
}
}