/* Global / Desktop view */
.img1 {
  margin-left: 50px;
    margin-left: -5px;
}
.nav-link {
  margin: 10px 25px;
  font-family: IBM Plex Sans Medium;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #501F6A !important;
}

.nav-item:hover .dropdown-menu{
  display:block !important;
  background: #99811D !important;
}
.navbar-nav > li{
  padding-left: 15px;
  padding-right:  15px;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.5rem 4rem !important;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: #000000;
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}
.show-nav {
  height: 100px;
}
.navbar-nav > li > .dropdown-menu {     background-color: #FFFFFF !important;  }

 .navbar-nav > li > .dropdown-menu a{   color: #000000 !important;  }

 .bg-light {
   background-color: #FFFFFF !important;
 }

@media screen and (max-width: 768px) {
  .navbar-nav {
    display: none !important;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
  .img1 {
    position: absolute;
    width: 78px;
    height: 57px;
    left: 30px;
    top: 16px;
  }
  .bg-light {
    position: absolute;
    height: 79px;
    left: 0px;
    top: 0px;
    min-width: -webkit-fill-available;
    background-color: #ffffff !important;
  }
  .navbar-toggler-icon {
      top: -3px;
      position: absolute;
      left: 1.72px;
      display: inline-block;
      width: 1.5em;
      height: 1.5em;
      vertical-align: middle;
      content: "";
      background: no-repeat center center;
      background-size: 100% 100%;
      display: inline-block;
}
  .navbar-light .navbar-toggler {
    position: absolute;
    width: 37px;
    height: 28px;
    left: 314px;
    top: 27px;
    background: #99811D;
    border: 2px solid #99811D;
    box-sizing: border-box;
  }
  /* .navbar-expand-sm .navbar-nav .nav-link {
    color: #333 !important;
  } */
  .navbar-light .navbar-nav .nav-link {
    color: #99811D !important;
  }
  .navbar-light .navbar-nav .nav-link a {
    color: #99811D !important;
  }
}


/* Mobile view */
@media screen and (max-width: 400px) {
  
}
/* Tablet view */
@media (min-width: 401px) and (max-width: 768px) {

}
/* iPad view */
@media (min-width: 768px) and (max-width: 1024px) {
  .bg-light {
    min-width: -webkit-fill-available;
    background-color: #ffffff !important;
  } 
  .navbar-toggler{
    left: ;
  }
}
