.img1 {
  /* margin-left: 50px; */
  margin-left: 29px;
}
.nav-link {
  margin: 10px 25px;
  font-family: IBM Plex Sans Medium;
}
.nav-item:hover .dropdown-menu{
  display:block!important
}
#sign-up-nav {
  padding-left: 24px;
  padding-top: 14px;
  width: 104.75px;
  height: 54px;
  background: #99811D !important;
  border-radius: 6px
}
#sign-up-nav a {
  display: contents;
}
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0.75rem 2rem;
  background: var(--offWhite);
  z-index: 1;
}
.nav-header {
  display: flex;
  justify-content: space-between;
}
.nav-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.nav-icon {
  font-size: 1.5rem;
  color: var(--primaryColor);
}
.nav-links {
  height: 0;
  overflow: hidden;
  transition: var(--mainTransition);
  list-style-type: none;
}
.nav-links a {
  display: block;
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: var(--mainSpacing);
}
.nav-links a:hover {
  color: var(--primaryColor);
}

.show-nav {
  height: 100px;
}
@media screen and (min-width: 768px) {
  .nav-btn {
    display: none;
  }
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
  }
  .nav-links {
    height: auto;
    display: flex;
    margin-left: 4rem;
  }
  .nav-links a {
    margin: 0 1rem;
    padding: 0.5rem 0;
  }
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .img1 {
    position: absolute;
    width: 78px;
    height: 57px;
    left: -5px;
    top: 16px;
  }
  .bg-light {
    position: absolute;
  width: 360px;
  height: 79px;
  left: 0px;
  top: 0px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
  }
  .navbar-toggler-icon {
    height: 14px;
    position: absolute;
    left: 86.00000007%;
    right: 31.78%;
    top: 30.74%;
    bottom: 98.94%;
    background: #FFFFFF;
}
  .navbar-light .navbar-toggler {
    /* position: absolute; */
    width: 37px;
    height: 28px;
    left: 304px;
    top: 26px;
    background: #99811D;
    border: 2px solid #99811D;
    box-sizing: border-box;
  }
  .navbar a {
    color: #FFFFFF !important;
  }
}