@font-face {
    font-family: IBM Plex Sans Medium;
    src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
  }
  
  @font-face {
    font-family: IBM Plex Sans Light;
    src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
  }
  
  h1 {
    font-family: IBM Plex Sans Bold;
    /* color: #4E1D69; */
    /* margin: 50px 0px 10px auto; */
  }
  
  .body{
    margin: 50px;
    font-family: IBM Plex Sans;
  }
  .privacy{
    font-size: 1.5rem;
  }
  .privacy-header {
    color: #000000;
}
  .group{
    margin-top: 40px;
  }
  
  @media screen and (max-width: 768px) {
    .privacy-header {
      font-size: 1.5rem !important;
    }
    .group h1 {
      font-size: 1.5rem !important;
    }
  }
  
  
  /* Mobile view */
  @media screen and (max-width: 400px) {
    .h1 {
      font-size: 27px !important;
    }
  }
  /* Tablet view */
  @media (min-width: 401px) and (max-width: 768px) {
    
  }
  /* iPad view */
  @media (min-width: 768px) and (max-width: 1024px) {
   
  }