@font-face {
    font-family: IBM Plex Sans Medium;
    src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
  }
  
  @font-face {
    font-family: IBM Plex Sans Light;
    src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
  }
  
  h1 {
    font-family: IBM Plex Sans Bold;
    /* color: #4E1D69; */
    /* margin: 50px 0px 10px auto; */
  }
  
  .body{
    margin-left: 60px;
    margin-right: 50px;
    font-family: IBM Plex Sans;
  }
  h1 .privacy {
    position: absolute;
    width: 293px;
    height: 37px;
    left: 60px;
    top: 164px;
  }
  .privacy{
    /* position: absolute;
    width: 293px;
    height: 37px;
    left: 60px;
    top: 264px; */
    margin-top: 50px;
  }
  .privacy-header {
    padding-top: 50px;
    color: #000000;
}
  .group{
    margin-top: 40px;
  }
  
  @media screen and (max-width: 768px) {
   
  }
  
  
  /* Mobile view */
  @media screen and (max-width: 400px) {
    .h1 {
      font-size: 27px !important;
    }
  }
  /* Tablet view */
  @media (min-width: 401px) and (max-width: 768px) {
    
  }
  /* iPad view */
  @media (min-width: 768px) and (max-width: 1024px) {
   
  }