@font-face {
    font-family: IBM Plex Sans Medium;
    src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
  }
  
  @font-face {
    font-family: IBM Plex Sans Light;
    src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
  }
.rrhead {
    padding: 0%;
}
.title {
    position: absolute;
    font-family: IBM Plex Sans Medium;
    font-style: normal;
    font-weight: 600;
    font-size: 36px !important;
    line-height: 40px !important;
    color: #4E1D69;
    top: 109px;
    left: 112px;
}
.text {
    font-family: IBM Plex Sans Light;
    font-style: normal;
    font-weight: 500;
    font-size: 17px !important;
    line-height: 30px !important;
    color: #4E1D69;
    position: relative;
    top: 67px !important;
    left: 95px;
}

.requestContainer {
    margin-top: 3%;
    background: rgba(78, 29, 105, 0.15);
}
.requestRight {
    padding: 10px;
    display: flex;
    align-items: center;
    -webkit-flex: 1; 
    -ms-flex: 1; 
    flex: 1;
}
.rrbody {
    height: 100%;
    margin-top: -3rem;
    text-align: center;
}
.rrbody {
    width: 65%;
}

@media only screen and (min-width: 600px) and (max-width: 700px) {
    .title {
        left: 42.75px !important;
        width: 576px !important;
        font-size: 23px !important;
    }
    .text {
        top: 57px !important;
        left: 32px !important;
    }
}

@media only screen and (min-width: 320px) and (max-width: 640px) {
    .requestContainer {
        /* position: absolute; */
        background: rgba(78, 29, 105, 0.15);
    }

    .requestRight {
        height: 450px;   
        top: 250px !important;   
    }
    .rrbody {
        margin-top: -38rem;
        top: 5px;
        width: 112%;
        height: 100%;
        margin-top: -3rem;
        text-align: center;
    }
    .title {
        left: -6.25px;
        width: 403px;
        font-size: 25px !important;
        line-height: 40px !important;
        position: absolute;
        font-family: IBM Plex Sans Medium;
        font-style: normal;
        font-weight: 600;
        line-height: 20px !important;
        text-align: center;
        color: #4E1D69;
        top: -28px;
        /* margin-right: 30px; */
    }
    /* .text {
        text-align: left;
        left: 19px;
        font-family: IBM Plex Sans Light;
        color: #4E1D69;
        top: -226px !important;
        line-height: 34px !important;
        margin-top: 250px !important;
        font-size: 18px !important;
        line-height: 19px !important;
        position: relative;
    } */
}
@media (min-width:641px) and (max-width: 767px) { 
    .feature-grid {
        width: 24.5em;
        right: -15.4375em;
        text-align: center;
        position: relative;
    }
    .rrbody {
        margin-top: -24rem;
        height: 100%;
        margin-left: -18%;
        text-align: center;
    }
    .title {
        font-size: 32px !important;
        font-size: 36px;
        line-height: 40px;
        width: 530px;
        left: 1.062662em;
        top: 3em;
    }
    .text {
        text-align: center;
        width: 464px;
        font-size: 16px !important;
        left: 5px;
        font-family: IBM Plex Sans Light;
        font-style: normal;
        font-weight: 500;
        line-height: 21px !important;
        color: #4E1D69;
        top: -6.3125em !important;
        line-height: 32px !important;
        margin-top: 250px !important;
    }
}

  /* Mobile view */
  @media screen and (max-width: 320px) {
    .rrhead {
        padding: 0;
    }
    .title {
        top: -75px;
        width: 354px;
        line-height: 1.2em !important;
        left: -0.1em;
        font-size: 23px !important;
    }
    .text {
        text-align: left;
        font-size: 14px !important;
        left: 6px !important;
        top: -215px !important;
        width: 307px;
        height: 38px;
    }
  .rrbody {
    margin-left: 48%;
    margin-top: -49em;
    width: 50%;
    }
}
@media (min-width: 321px) and (max-width: 490px) {
    .rrbody {
        margin-left: 38%;
        margin-top: -45em;
        width: 50%;
    }
    .title {
        left: 3.75px;
        width: 381px;
        font-size: 25px !important;
        line-height: 40px !important;
        position: absolute;
        font-family: IBM Plex Sans Medium;
        font-style: normal;
        font-weight: 600;
        line-height: 34px !important;
        text-align: center;
        color: #4E1D69;
        top: -28px;
    }
    .text {
        font-family: IBM Plex Sans Light;
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 19px !important;
        color: #4E1D69;
        position: relative;
        top: -100px !important;
        left: 9px;
    }
}
  @media (min-width: 490px) and (max-width: 574px) {
    .rrbody {
        margin-left: 40%;
    margin-top: -107%;
    width: 50%;
    }
  }
  
  @media (min-width: 575px) and (max-width: 767px) {
      .requestContainer {
        position: relative;
        display: block !important;
    }
    .rrbody {
        margin-top: -41em;
        top: 5px;
        width: 112%;
        height: 100%;
        margin-left: -18%;
        text-align: center;
  }
  .title {
    left: 36.75px;
    width: 576px;
    font-size: 25px !important;
    line-height: 40px !important;
    position: absolute;
    font-family: IBM Plex Sans Medium;
    font-style: normal;
    font-weight: 600;
    line-height: 35px !important;
    text-align: center;
    color: #4E1D69;
    top: 27px;
    /* margin-right: 30px; */
}
.text {
        width: 538px;
        text-align: left;
        left: 42px;
        font-family: IBM Plex Sans Light;
        color: #4E1D69;
        line-height: 34px !important;
        margin-bottom: 17em;
        font-size: 18px !important;
        line-height: 20px !important;
    }
  }
@media (min-width: 640px) and (max-width: 767px) {

    .rrbody {
        margin-top: -26rem;
        top: 5px;
        width: 82%;
        height: 100%;
        margin-left: 9%;
    }
} 

  /* iPad view */
  @media (min-width: 768px) and (max-width: 1024px) {
        .title {
            top: 98px;
            left: 112px;
            width: 501px;
        }
    } 


    @media (min-width: 375px) and (max-width: 380px) {
    .title {    
        left: 18.75px;
    }
    .text {
        width: 333px;
        font-family: IBM Plex Sans Light;
        font-style: normal;
        font-weight: 500;
        font-size: 13px !important;
        line-height: 19px !important;
        color: #4E1D69;
        position: relative;
        top: -100px !important;
        left: 30px;
    }
}

@media only screen and (max-width: 657px) and (min-width: 627px) {  
    .rrbody {
        margin-top: -68rem;
        width: 133%;
        margin-left: -37%;
    }
    .title {
      top: 357px;
    }
    .text {
        top: 7.6875em !important;
    }
  }