.Stay {
  position: absolute;
width: 1441px;
height: 440px;
left: 0px;
top: 1980px;
background: #EEE9F0;
}
.Stay h1 {
  position: absolute;
  height: 42px;
  left: 42.57%;
  right: 42.43%;
  top: 95px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #1E2022;
}
.Stay h2 {
  position: absolute;
height: 54px;
left: 34.24%;
right: 34.03%;
top: 150px;

font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 27px;
/* or 159% */

text-align: center;
letter-spacing: 0.6px;

color: #501F6A;
}
.enter {
  position: absolute;
left: 34.24%;
right: 34.03%;
top: 55.21%;
bottom: 20.97%;
width: 457px;
height: 52px;
background: #FFFFFF;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
border-radius: 4px;
}
.enter::placeholder {
  text-align: left;
}
.email-search {
  position: relative;
  width: 40px;
  height: 40px;
  top: 249px;
    left: 904px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Stay {
    top: 3002px;
    width: 374px;
  }
  .Stay h1 {
    width: 165px;
    height: 42px;
    font-size: 24px;
    line-height: 42px;
    left: 108px;
    top: 108px;
  }
  .Stay h2 {
    width: 309px;
    height: 54px;
    font-size: 14px;
    line-height: 27px;
    left: 41px;
    top: 160px;
  }
  .enter {
    width: 320px;
    height: 50px;
        left: 7.24%;
        right: 6.03%;
        top: 55.21%;
        bottom: 20.97%;
  }
  .email-search {
    position: relative;
    width: 40px;
    height: 40px;
    top: 248px;
    left: 303px;
}
}