/* .Stay {
  position: absolute;
width: 1441px;
height: 440px;
left: 0px;
top: 1980px;
background: #EEE9F0;
display: grid;
}
.Stay h1 {
  position: absolute;
  height: 42px;
  left: 43%;
  text-align: center;
  top: 95px;
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #1E2022;
}
.Stay h2 {
  position: absolute;
height: 54px;
left: 34.24%;
right: 34.03%;
top: 150px;
text-align: center;
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 17px;
line-height: 27px;
letter-spacing: 0.6px;
color: #501F6A;
}
.enter {
  position: absolute;
left: 34.24%;
right: 34.03%;
top: 55.21%;
bottom: 20.97%;
width: 457px;
height: 52px;
background: #FFFFFF;
box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
border-radius: 4px;
}
.enter::placeholder {
  text-align: left;
}
.email-search {
  position: relative;
    width: 40px;
    height: 40px;
    top: 45px;
    left: 904px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .Stay {
    top: 3002px;
    width: 103%;
  }
  .Stay h1 {
    width: 165px;
    height: 42px;
    font-size: 24px;
    line-height: 42px;
    left: 130px;
    text-align: right;
    display: flex;
    top: 108px;
  }
  .Stay h2 {
    width: 309px;
    height: 54px;
    font-size: 14px;
    line-height: 27px;
    left: 57px;
    top: 160px;
  }
  .enter {
    width: 320px;
    height: 50px;
        left: 12.24%;
        right: 6.03%;
        top: 55.21%;
        bottom: 20.97%;
  }
  .email-search {
    position: relative;
    width: 40px;
    height: 40px;
    top: 43px;
    left: 326px;
}
} */

.Stay {
  background: #EEE9F0;
  margin-top: 4em;
}
.Stay h1 {
  height: 100%;
  align-items: center;
  font-family: Nunito;
  font-size: 24px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 1.2px;
  color: #1E2022;
  padding-top: 2em;
}
.Stay h2 {
  font-family: Nunito;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.6px;
  color: #501F6A;
}
.enter {
  width: 457px;
  height: 52px;
  background: #FFFFFF;
  box-shadow: 0px 2px 48px rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  text-align: center;
  margin-top: 2em;
  margin-left: 28em;
  /* justify-content: center; */
}
.email-search {
  position: relative;
  width: 40px;
  height: 40px;
  left: -4em;
  top: -0.1em;
}
.email-search::placeholder {
  padding-right: 2em;

}

/* Galaxy Fold */
@media (min-width: 626px) and (max-width: 768px) {
  .enter {
    width: 457px;
    height: 52px;
    margin-top: 2em;
    margin-left: 3.6em !important;
  }
  .email-search {
    margin-left: 0px;
  }
  .email-search {
    margin-left: 20px;
  }
}
/* Smart Phones */
@media only screen and (min-width: 321px) and (max-width: 410px) {
  .enter {
    width: 300px;
    height: 52px;
    margin-top: 2em;
    margin-left: 0em;
  }
  .email-search {
    left: 15.7em;
    top: -3.4em;
  }
}

@media only screen and (min-width: 411px) and (max-width: 625px) {
  .enter {
    margin-left: 1.2em;
    width: 310px;
    height: 41px;
  }
  .email-search {
    position: relative;
    width: 35px;
    height: 29px;
    left: 18em;
    top: -2.7em;
  }
}

@media only screen and (max-width: 320px) {
    .enter {
      width: 251px;
      height: 39px;
      margin-left: 0.5em;
  }
  .email-search {
    position: relative;
    width: 40px;
    height: 35px;
    left: 13.2em;
    top: -2.8em;
  }
}
  /* iPad view */
  @media (min-width: 769px) and (max-width: 1024px) {
    .enter {
      margin-left: 15.8em;
    }
  }