@font-face {
  font-family: Montserrat Regular;
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat Semi-bold;
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat ExtraLight;
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

  .WhoWeAre h1 {
    margin-top: 2em;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: #333333 !important;
    font-family: Montserrat Regular;
  }
  .strong {
    font-family: IBM Plex Sans SemiBold;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
  }
  .values {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 19em;
    padding-right: 19em;
    /* font-family: IBM Plex Sans Light; */
  }
  .readMore {
    background: #501F6A !important;
    border-radius: 40px !important;
    width: 235px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-size: 12px !important;
    line-height: 15px !important;
    padding-top: 13.75px !important;
    margin-left: 49em;
  }
  @media screen and (max-width: 768px) {
    .WhoWeAre h1 {
      font-size: 27px;
    }
    .values {
      padding-top: 2em;
      padding-bottom: 1em;
      padding-left: 3em;
      padding-right: 3em;
    }
  }
  
  
  /* Mobile view */
  @media screen and (max-width: 409px) {
    .readMore {
      margin-left: 7em !important;
      width: 185px;
      height: 45px;
    }
  }
  @media screen and (min-width: 410px) and (max-width: 599px) {
    .readMore {
      margin-left: 8em !important;
      width: 185px;
      height: 45px;
    }
  }
  /* Tablet view */
  @media (min-width: 600px) and (max-width: 800px) {
    .readMore {
      margin-left: 17em !important;
      width: 205px;
      height: 45px;
  }
}
  /* iPad view */
  @media (min-width: 768px) and (max-width: 1024px) {
   
  }