@font-face {
  font-family: Montserrat Regular;
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat Semi-bold;
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat ExtraLight;
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf");
}
  
  .WhoWeAre h1 {
    margin-top: 2em;
    text-transform: uppercase;
    align-items: center;
    text-align: center;
    color: #333333 !important;
    font-family: Montserrat Regular;
  }
  .WhoWeAre p {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 19em;
    padding-right: 19em;
    font-family: IBM Plex Sans Light;
  }
  .readMore {
    background: #501F6A !important;
    border-radius: 40px !important;
    width: 235px;
    height: 45px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    font-size: 12px !important;
    line-height: 15px !important;
    padding-top: 13.75px !important;
    margin-left: 49em !important;
  }
  @media screen and (max-width: 768px) {
   
  }
  
  
  /* Mobile view */
  @media screen and (max-width: 400px) {
    
  }
  /* Tablet view */
  @media (min-width: 401px) and (max-width: 768px) {
    
  }
  /* iPad view */
  @media (min-width: 768px) and (max-width: 1024px) {
   
  }