.mr-1 {
    background: #99811D !important;
    font-size: 16px;
    line-height: 21px;
    font-family: Montserrat !important;
}
.mr-1:active {
    background: #515356 !important;
}
.popover-inner {
    border: 2px solid #99811D;
    box-sizing: border-box;  
    background: #501F6A;
    font-size: 16px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7) !important;
}
.popover-header {
    background: #501F6A !important;
    padding: .5rem .75rem;
    margin-bottom: 0;
    font-size: 1rem;
    border-bottom: 1px solid #ebebeb;
    border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px);
}
.popover-body {
    padding: .5rem .75rem;
    color: rgba(255, 255, 255, 0.7) !important;
 
}
