@font-face {
  font-family: Montserrat Regular;
  src: url("../../assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat Semi-bold;
  src: url("../../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat ExtraLight;
  src: url("../../assets/fonts/Montserrat/Montserrat-ExtraLight.ttf");
}
.HeroOurCompanyImg {
  margin-left: 0px;
}
.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 30px !important;
    left: 15%;
    z-index: 10;
    padding-top: 3px !important;
    padding-bottom: 160px !important;
    color: #fff;
    text-align: center;
    /* font-family: Montserrat; */
}
.HeroOurCompanyText h1 {
  margin-bottom: 1em;
  text-align: left;
  position: relative;
  font-size: 40px;
  line-height: 49px;
  color: #FFFFFF !important;
  /* font-family: Montserrat; */
  text-transform: uppercase;
  font-family: Montserrat Regular;
  font-style: normal;
  font-weight: 600;
  
}
.HeroOurCompanyText h2 {
  text-align: left;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
  position: relative;
  margin-top: -0.2em;
  font-family: Montserrat ExtraLight;
  width: 659px;
}

.our-company-read_more {
  background: #99811D !important;
  border-radius: 40px !important;
  text-transform: uppercase;
  width: 235px;
  height: 46px;
  justify-content: left !important;
  margin-top: 2em;
  margin-right: 48em;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.4px;
}


@media only screen and (max-width: 768px) {
  .HeroOurCompanyText {
    margin-left: -11em !important;
    margin-top: 0.3em;
    padding-right: 0.5em !important;
  }
  .HeroOurCompanyText h2 {
    width: 30em !important;
  }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
  .heroText {
    margin-bottom: 0em !important;
    margin-left: -10em;
  }
  .our-company-read_more {
    margin-right: 58em;
  }
}

@media only screen and (max-width: 409px) {
  .HeroOurCompanyText h1 {
    font-size: 36px;
  }
 .HeroOurCompanyText h2 {
    width: 14em !important;
 }
  .heroText {
    margin-bottom: -4em !important;
    margin-left: -12em;
  }
  .our-company-read_more {
    width: 200px;
    height: 40px;
    justify-content: left !important;
    margin-top: 2em;
    font-size: 12px !important;
    margin-left: -25.5em;
  }
}

@media only screen and (min-width: 410px) and (max-width: 599px) {
  .heroText {
    margin-bottom: -2em !important;
    margin-left: -12em;
  }
  .HeroOurCompanyText h1 {
    font-size: 36px;
  }
  .HeroOurCompanyText h2 {
    width: 18em !important;
 }
 .our-company-read_more {
  width: 200px;
  height: 40px;
  justify-content: left !important;
  margin-top: 2em;
  font-size: 12px !important;
  margin-left: -22em;
  }
}

@media only screen and (max-width: 320px) {
.HeroOurCompanyText h2 {
    padding-right: 1.1em !important;
  }
  .our-company-read_more {
    margin-left: -29.5em;
  }
}