.HeroWhyJoinUsPage {
    height: 34em;
    background: #501F6A;
}
.HeroWhyJoinUsPage h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 2.8px;
    text-transform: uppercase;
    color: #C4C4C4 !important;
    padding-top: 9em;
}
.HeroWhyJoinUsPage p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    letter-spacing: -1px;
    color: #FFFFFF;
    padding-top: 0.2em;
}
.find_more {
    background: #99811D;
    border-radius: 40px;
    height: 46px;
    width: 235px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 2.5em;
    /* margin-bottom: 10.5em; */
}

@media (min-width: 1024px) and (min-width: 1400px) {
    
}

/* iPad view */
@media (max-width: 1024px) and (min-width: 768px) {
    
}
@media only screen and (max-width: 768px) {
    /* p{
        color: black !important;
    } */
}
@media (min-width: 577px) and (max-width: 768px) {
    
}
 
  @media (min-width: 410px) and (max-width: 576px){
    /* p{
        color: black !important;
    } */
    /* .row{
        box-shadow: black 1px 2px 5px 1px;
        border: 30%;
    } */
    .HeroWhyJoinUsPage h1{
        margin-top: -3em;
    }
    .find_more{
        margin-top: -0.5em !important;
    }
    .HeroWhyJoinUsPage h1 {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 2.8px;
        text-transform: uppercase;
        color: #C4C4C4 !important;
        padding-top: 9em;
    }
    .HeroWhyJoinUsPage p {
        /* font-family: Montserrat;
        font-style: normal;
        font-weight: bold; */
        font-size: 28px;
        /* line-height: 50px;
        text-align: center;
        letter-spacing: -1px;
        color: #FFFFFF;
        padding-top: 0.2em; */
    }
  }
  @media (max-width: 376px) {
    
  }
  @media (min-width: 320px) and (max-width: 410px){
    
  }