.HeroBusiness img {
  margin-left: 0px;
  margin-bottom: 7.5em;
  width: 100% !important;
}
.HeroBusiness h1 {
  margin-bottom: 0.7em !important;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 74px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF !important;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.HeroBusiness h2 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  /* margin-top: 0.1em !important; */
  margin-bottom: -0.5em !important;
}
.business_get_started {
  text-transform: capitalize;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  flex: none;
  order: 0;
  flex-grow: 0;
  background: #99811D;
  border-radius: 35px;
  height: 52px;
  width: 236px;
  position: relative;
  top: 5em !important;
}
.HeroBusinessText {
  bottom: -50px !important;
}

@media screen and (max-width: 768px) {
  .HeroBusiness h1 {
      margin-bottom: 0.7em !important;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 44px;
      line-height: 55px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF !important;
      flex: none;
      order: 0;
      flex-grow: 0;
  }
  .HeroBusinessText h2 {
    font-size: 20px;
  }
  .HeroBusiness img {
    width: 100% !important;
    height: 30em;
  }
  .HeroBusinessText {
    bottom: 95px !important;
  }
    .business_get_started {
      text-transform: capitalize;
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.2px;
      color: #FFFFFF;
      flex: none;
      order: 0;
      flex-grow: 0;
      background: #99811D;
      border-radius: 35px;
      height: 44px;
      width: 164px;
      position: relative;
      top: 2em !important;
  }
}


@media screen and (max-width: 375px) {
  .HeroBusiness h1 {
    font-size: 34px;
    line-height: 45px;
  }
  .HeroBusiness h2 {
    line-height: 26px;
  }
  .HeroBusinessText {
    margin-bottom: -88px !important;
  }
}
@media screen and (max-width: 355px) {
  .HeroBusinessText {
    margin-bottom: -7em !important;
  }
  .HeroBusiness h1 {
    font-size: 22px;
    line-height: 31px;
  }
  .HeroBusiness h1 {
    font-size: 18px;
    line-height: 31px;
  }
}
@media screen and (min-width: 360px) and (max-width: 375px) {
  .HeroBusinessText {
      margin-bottom: -78px !important;
  }
}
@media screen and (min-width: 376px) and (max-width: 420px) {
  .HeroBusiness h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .HeroBusiness h2 {
    line-height: 26px;
  }
  .HeroBusinessText {
      margin-bottom: 6.5em !important;
  }
}
@media screen and (min-width: 420px) and (max-width: 599px) {
  .HeroBusiness h1 {
    font-size: 30px;
    line-height: 45px;
  }
  .HeroBusiness h2 {
    line-height: 26px;
  }
  .HeroBusinessText {
      margin-bottom: 145px !important;
  }
}