@font-face {
  font-family: IBM Plex Sans;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

@font-face {
  font-family: IBM Plex Sans;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
}
.appstore {
  background-color: #4E1D69;
  /* margin-bottom: -15%;
  height: 100px; */
  /* line-height: 100px; */
  /* text-align: center; */
  /* border: 2px dashed #f69c55; */
  /* position: absolute; */
  /* top: 115px; */
  /* text-align: right; */
  /* top: 100%; */
}
.appstore-h4 {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF;
}
.appstore-p {
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #B6993E;
}
.card-img {
    /* background-color: #4E1D69; */
    
    /* width: 100%; */
    /* top: 500px; */
    height: auto;
}
.readytoride{
  padding: 4rem 0;
}
/* .my-container {
  width: 100%;
  height: auto;
  position: relative;
} */
.readytoride{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.readytoride2{
  text-align: center;
}
.appstore-playstore{
  padding-bottom: 1rem;
  display: flex;
  justify-content: center;
}
.appstore-playstore img{
  margin: 5px;
  width: 140px;
}
.img_happy{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding-top: 2rem;
}
.img3{
  width: 80%;
}
/* .card-body {
  position: absolute;
} */
/* .container {
  border: 3px solid red;
  padding: 20px;
} */
/* .row1 {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
} */