@font-face {
  font-family: IBM Plex Sans Medium;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: IBM Plex Sans Light;
  src: url("../../assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}
.card-body{
  padding: 1.25rem 0 !important;
}
.card-title {
  font-family: IBM Plex Sans Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 18px !important;
  line-height: 31px;
  text-align: center;
  color: #000000;
}
.card-text {
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: 300;
  font-size: 15px !important;
  line-height: 23px;
  text-align: center;
  color: #333333;
}