.BorderSpacing {
  padding-top: 0.5em;
  text-align: center;
  font-family: IBM Plex Sans SemiBold;
  height: 87px;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(120, 120, 118, 0.25);
}
.BorderSpacing2 {
  text-align: center;
  font-family: IBM Plex Sans SemiBold;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
  color: #000000;
  font-size: 36px;
  line-height: 47px;
  margin-top: 0em;
}
.BorderSpacing3 {
  text-align: center;
  font-family: IBM Plex Sans SemiBold;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
  color: #000000;
  font-size: 36px;
  line-height: 47px;
  margin-top: -1em;
}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .BorderSpacing {
    top: 1362px;
    width: 411px !important;
}
}



@media only screen and (min-width: 600px) and (max-width: 750px) {
  .BorderSpacing2 {
    top: -274px;
    width: 100% !important;
    padding-top: 0.5em;
    text-align: center;
    font-family: IBM Plex Sans SemiBold;
    height: 87px;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(120, 120, 118, 0.25);
    position: relative;
  }
}


@media only screen and (min-width: 360px) and (max-width: 370px) {
  .BorderSpacing2 {
    text-align: center;
    font-family: IBM Plex Sans SemiBold;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
    color: #000000;
    font-size: 36px;
    line-height: 47px;
    margin-top: -7.8em;
  }
  .BorderSpacing3 {
    font-size: 27px;
    line-height: 29px;
    margin-top: -2em;
  }
}

@media (min-width: 375px) and (max-width: 385px) {
  .BorderSpacing2 {
    margin-top: -7.8em;
  }
  .BorderSpacing3 {
    font-size: 32px;
    line-height: 33px;
  }
}


@media only screen and (min-width: 386px) and (max-width: 440px) {
  .BorderSpacing2 {
    margin-top: -7.8em;
  }
  .BorderSpacing3 {
    font-size: 32px;
    line-height: 33px;
  }
}


@media (max-width: 359px) {
  .BorderSpacing2 {
    text-align: center;
    font-family: IBM Plex Sans SemiBold;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
    color: #000000;
    font-size: 30px;
    margin-top: -8.8em;
    padding-top: -1.5em;
  }
  .BorderSpacing3 {
    font-size: 24px;
    line-height: 29px;
    margin-top: -2em;
  }
}