.BorderSpacing {
  padding-top: 0.5em;
  text-align: center;
  font-family: IBM Plex Sans SemiBold;
  height: 87px;
  font-size: 36px;
  line-height: 47px;
  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px rgba(120, 120, 118, 0.25);
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .BorderSpacing {
    top: 1362px;
    width: 411px !important;
}
}
