.appstore {
  margin-bottom: -15%;
  height: 100px;
  /* line-height: 100px; */
  /* text-align: center; */
  /* border: 2px dashed #f69c55; */
  /* position: absolute; */
  /* top: 115px; */
  /* text-align: right; */
  /* top: 100%; */
}
.appstore-h4 {
  margin-left: 2%;
  margin-top: 10%;
  font-size: 135%;
  color: #FFFFFF;
}
.appstore-p {
  margin-right: 30%;
  margin-top: 5%;
  text-align: center;
  color: #B6993E;
  font-size: 100%;
  ;
}
.card-img {
    /* background-color: #4E1D69; */
    
    /* width: 100%; */
    /* top: 500px; */
    height: auto;
}

.my-container {
  background-color: #4E1D69;
  /* width: 100%; */
  /* height: auto; */
  /* position: relative; */
}
/* .card-body {
  position: absolute;
} */
/* .container {
  border: 3px solid red;
  padding: 20px;
} */
/* .row1 {
  width: 50%;
  float: left;
  padding: 20px;
  border: 2px solid red;
} */