/* #features {
    background-color: #0000;
    margin: 0px auto 0px auto;
    padding: 0px 0px 0px 0px
} */
.circle-wrapper {
/* position: relative;
  width: 0;
  height: 0;
  border: 180px silver solid;
  -webkit-border-radius: 180px;
  -moz-border-radius: 180px;
  border-radius: 180px; */
}
.container{
    margin-top: 50px;
    /* border-radius: 50%; */
    /* width: 200px; */
}
.row {
    margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-around; 
}
img {
  width: 20px
}
.iconDetails {
  margin-left:2%;
 float:left; 
 height:40px;
 width:40px; 
 } 
 
 .container2 {
     width:100%;
     height:auto;
     padding:1%;
 }