.FooterNew {
    margin-top: 5em;
    background: #F9F9F9;
    /* display: grid; */

}

.row{
    display: grid;
    grid-template-columns: 2fr 2fr  !important;
}
.FooterNew img {
    cursor: pointer;
}
.FooterImg {
    padding-left: 5em !important;
    padding-top: 3em;
}

.question_1 {
    padding-top: 2.55em;
    margin-left: 0.25rem;
}
.question_1 a {
    margin-top: -1.2em;
    font-family: IBM Plex Sans SemiBold;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #99811D;
    text-transform: capitalize;
    margin-left: 1em;
    text-decoration: none !important;
}
.question_1 a:hover {
    color: #99811D;
}
.social_link {
    padding-left: 0em !important;
    margin-top: 0.8em;
}
.social_link img:hover {
    background: #501F6A !important;
    color: #501F6A !important;
}
.FooterLinks {
    padding-top: 4em;
}
.FooterLinks h1 {
    padding-left: 0.3em;
    /* font-family: IBM Plex Sans Regular; */
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 17px;
    text-align: left;
    color: #000000 !important;
    text-transform: capitalize;
    /* padding-bottom: 1em; */
}
.FooterLinks a {
    text-transform: capitalize;
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #000000 !important;
    /* text-decoration: none !important; */
    padding-top: 1em;
}
.FooterLinks a:hover {
    color: #4E1D69 !important;
}
.website_rights {
    padding-top: 1.25em;
    font-family: IBM Plex Sans SemiBold;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 30px;
    color: #99811D;
    margin-bottom: 4.5em !important;
}

@media screen and (max-width: 768px) {
    /* .google_play {
        padding-left: 12em;
        padding-top: -0.9em;
    } */
    .footer_logo {
        margin-left: -11em;
    }
    .app_store-google_play {
        display: flex;
        margin-left: -13em;
        padding-top: -0.25em;
    }
    .question_1 {
        display: flex;
        padding-top: 1.55em;
        margin-left: -11.75rem;
    }
    .question_1 a {
        margin-top: -0.2em;
    }
    .social_link {
        margin-left: -12.5rem !important;
        margin-top: -1em;
    }
    .FooterLinks {
        padding-top: 2em;
    }
    .footerlink {
        margin-left: -4.5em !important;
        display: grid !important;
        grid-template-columns: 2fr 2fr;
    }
    .FooterLinks h1 {
        padding-bottom: 0.5em;
    }
    .flex-column {
        padding-bottom: 0.5em;
    }
}