/* DRIVER */
.get-going-driver {
    margin-top: 33em;
}
.get-going-body-driver {
    padding-top: 3em;
}
.get-going-header-rider {
    padding-top: 0.1em;
    line-height: 42px;
}
.get-going-body-driver h6 {
    font-size: 30px;
    line-height: 47px;
    width: 130px;
    font-family: IBM Plex Sans Light;
    font-size: 24px;
    line-height: 31px;
    color: #99811D;
}
.get-going-body-driver p {
    padding-top: 2em;
    font-family: IBM Plex Sans Light;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}






@media only screen and (max-width: 760px) {
    .get-going-body-driver h6 {
        width: 130px;
    }
    .get-going-driver {
        margin-top: 36em;
    }
}
@media only screen and (min-width: 360px) and (max-width: 365px) {
    .get-going-header-rider {
        line-height: 18px !important;
    }
}




/* RIDER */
.get-going-header-rider {
    height: 87px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px -6px rgba(120, 120, 118, 0.25);
    text-align: center;
    font-family: IBM Plex Sans SemiBold;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 47px;
    color: #000000;
    padding-top: 0.5em;
}
.get-going-body {
    padding-top: 3em;
}
.get-going-body h6 {
    width: 9em;
    font-family: IBM Plex Sans Light;
    font-size: 24px;
    line-height: 31px;
    color: #99811D;
}
.get-going-body p {
    padding-top: 2em;
    font-family: IBM Plex Sans Light;
    font-size: 18px;
    line-height: 23px;
    color: #000000;
}
@media only screen and (min-width: 320px) and (max-width: 625px) {
    
    }



/* Galaxy Fold */
@media (min-width: 625px) and (max-width: 626px) {
    
}