body{
  overflow-x: hidden;
}
@font-face {
  font-family: IBM Plex Sans Medium;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: IBM Plex Sans Light;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}

@font-face {
  font-family: IBM Plex Sans Semi-bold;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
}
@font-face {
  font-family: IBM Plex Sans Regular;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
}
@font-face {
  font-family: IBM Plex Sans ExtraLight;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf");
}
.applyToRide {
  /* position: absolute;
  width: 52px;
  height: 104px;
  left: -90px;
  top: 22px; */
  position: absolute;
  width: 101%;
  height: 100%;
  left: -0.5rem;
  top: 0px;
}
.applyToRide img {
  width: 245px;
height: 104px;
left: 20px;
top: 36px;
}
.applyToRideLogIn {
  position: absolute;
left: 1290px;
top: 25px;
font-family: IBM Plex Sans Regular;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #F0F0F0 !important;
text-decoration: none !important;
}
.applyToRideLogIn a {
  color: #F0F0F0 !important;
  text-decoration: none !important;
}

.applyToRidePs p1{
  position: absolute;
width: 336px;
height: 47px;
left: 109px;
top: 169px;
font-family: IBM Plex Sans Medium;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 47px;
color: #FFFFFF;
}
.applyToRidePs p2 {
  position: absolute;
width: 298px;
height: 31px;
left: 112px;
top: 231px;

font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
}
.applyToRideForm {
  position: absolute;
  width: 391px;
  height: 546px;
  left: -50px;
  top: 75px;
  background: #FFFFFF;
  border-radius: 6px; 
  box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
}
.applyToRideForm p1{
  position: absolute;
  width: 307px;
  height: 30px;
  left: 10px;
  top: 10px;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #1B1B1B;
}

.applyToRideForm label {
  margin-top: 40px;
  position: absolute;
width: 202px;
height: 26px;
left: 15px;
font-family: IBM Plex Sans ExtraLight;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #333333;
}
.inputCode {
  margin-top: 60px;
  position: absolute;
  width: 361px;
  height: 60px;
  right: -160px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
  border-radius: 10px;
}
input {
  border-style: none;
  outline: none;
}
input:focus {
  border-style: none;
  outline: none;
}
.applyToRideForm p5 {
  position: absolute;
  width: 272px;
  height: 18px;
  left: 18px;
  top: 209px;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.applyToRideForm number {
  position: absolute;
  width: 118px;
  height: 18px;
  left: 15px;
  margin-top: 200px;
  font-family: IBM Plex Sans Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.applyToRideForm resend {
  text-decoration: none !important;
  position: absolute;
width: 83px;
height: 18px;
left: 18px;
margin-top: 213px;
font-family: IBM Plex Sans Regular;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #501F6A !important;
}

.applyToRideForm resend a {
  text-decoration: none;
  color: #501F6A !important;
} 

.call-me, .text-me, .applyToDrive, .next,
.select, .form-input,
textarea,
button,
.form-control,
.input-field:focus,
.input-field:active {
outline: 0px !important;
-webkit-appearance: none !important;
border-color: transparent;
-webkit-box-shadow: none;
box-shadow: none !important;
}
.applyToRideButton1 {
color: #333333 !important;
margin-top: 478px;
position: absolute;
text-align: center;
justify-content: space-between;
  position: absolute;
width: 155px;
height: 54px;
left: 100px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.applyToRideButton2 {
  top: 500px;
  text-align: center;
color: #333333 !important;
justify-content: space-between;
  position: absolute;
width: 155px;
height: 54px;
left: 287px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.call-me, .text-me {
  margin-top: .5em;
  display: flex;
align-items: center;
text-align: center;
  color: #333333 !important;
}
.call-me-img {
  padding-right: 1em;
}
.text-me-img {
  padding-right: 1em;
}
/* .call-me {
  position: absolute;
  width: 48px;
  left: 15px;

top: 340px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
color: #333333 !important;
}
.text-me {
  position: absolute;
width: 51px;
left: 327px;

top: 340px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #333333 !important;
} */
.applyToRideButton1 .btn-secondary { 
    background: #FFFFFF !important;
    border-color: #FFFFFF !important;
}
.applyToRideButton2 .btn-secondary { 
  background: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

/* LOG IN FORM */
.applyToDrive {
  position: absolute;
  width: 177px;
  /* height: 54px; */
  left: 40px;
  top: 46px;
  background: #501F6A !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 30px !important;
}
.applyToDrive a {
  text-decoration: none !important;
  color: #FFFFFF !important;
}
.logInFormLogo {
  /* position: absolute; */
  width: 252px;
  height: 104px;
  left: 890px;
  top: 19px;
}
.welcome {
  position: absolute;
width: 379px;
height: 36px;
left: 43px;
font-family: IBM Plex Sans Semi-bold;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #000000;
}
.welcome p {
  position: absolute;
  width: 458px;
  height: 46px;
  left: 45px;
  padding-top: 30px;
  text-align: left;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #1B1B1B;
}
.inputPhoneNo {
  position: absolute;
width: 380px;
height: 60px;
left: 73px;
top: 260px;

background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
border-radius: 10px;
}
.flag-dropdown {
  position: absolute;
  /* left: 73px; */
  /* top: 260px; */
  /* width: 38px; */
}
.send p5 {
  position: absolute;
  font-family: IBM Plex Sans Light;
  left: 75px;
  top: 360px;
  color: #333333;
}
.send checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 73px;
  top: 410px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
.send p7 {
  position: absolute;
  font-family: IBM Plex Sans Light;
  color: #333333;
  left: 130px;
  top: 410px;
}
#next {
  text-transform: uppercase;
  left: 80px;
  top: 480px;
}
.newNumber {
  position: absolute;
  width: 169px;
  height: 23px;
  left: 73px;
  top: 600px;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}
.find {
  position: absolute;
  width: 147px;
  height: 23px;
  left: 73px;
  top: 650px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* text-align: center; */
  color: #99811D;
}
.find a {
  color: #99811D !important;
  text-decoration: none !important;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
  .applyToRide  {
    display: flex;
    overflow: hidden;
    width: 144%;
    background-image: none !important;
    top: -20px;
}
.applyToRide img {
  width: 90px;
  margin-top: 15px;
  height: 2rem;
  margin-top: 15px;
}
.applyToRideLogIn a {
  color: #501F6A !important;
  text-decoration: none !important;
 }
  .applyToRideLogIn {
    color: #501F6A !important;
    position: absolute;
    /* top: 15px; */
    margin-left: -5px;
    top: 5px;
    width: 59px;
    font-size: 6px;
  }
  /* .applyToRidePage  {
    position: flex;
    text-align: center;
    align-items: center;
  } */
  .applyToRideForm {
      position: absolute;
      width: 391px;
      height: 546px;
      right: -66px;
      /* left: -50px; */
      top: 75px;
      background: #FFFFFF;
      border-radius: 6px;
      box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
  }
}
/* SIGN UP TO DRIVE */
  .signUpToDriveButton {
    text-transform: uppercase;
    position: absolute;
width: 177px;
height: 54px;
left: 40px;
top: 46px;

background: #501F6A !important ;
border-radius: 30px !important;
}
.signUpToDriveButton a {
  text-decoration: none !important;
  color: #FFFFFF;
}
.signUpToDriveButton a:hover {
  text-decoration: none !important;
  color: #FFFFFF;
}
.signUpToDriveImg {
  /* position: absolute; */
width: 890px;
height: 790px;
left: 0px;
top: 0px;
}
.SignUpToDriveFormLogo {
  position: absolute;
  width: 252px;
  height: 104px;
  left: 51px;
  top: 45px;
}
.drive {
  position: absolute;
width: 375px;
height: 36px;
left: 92px;
top: 168px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 27px;
line-height: 36px;
text-align: center;
text-transform: capitalize;
color: #501F6A;
}

.sign-to-drive {
  position: absolute;
/* width: 139px; */
height: 26px;
left: 95px;
top: 238px;

font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
text-align: center;

color: #1B1B1B;
}
.code-text {
  position: absolute;
width: 463px;
height: 41px;
left: 97px;
top: 288px;

font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

color: #333333;
}
.enterNo_SignUp {
  position: absolute;
  width: 361px;
  height: 60px;
  left: 85px;
    top: 363px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
  border-radius: 10px;
}

::placeholder {
  text-align: center;
}
.checkbox_SignUp {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 109px;
  top: 474px;
  border: 1px solid #333333;
box-sizing: border-box;
border-radius: 3px;
  cursor: pointer;
}
.agreement_SignUp {
  position: absolute;
  width: 305px;
  height: 23px;
  left: 169px;
  top: 474px;
  
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  
  color: #333333;
}
#next_SignUp {
  position: absolute;
width: 177px;
height: 54px;
left: 105px;
top: 544px;
text-transform: uppercase;
background: #501F6A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
#next_SignUp a {
  text-decoration: none;
  color: #FFFFFF;
}
.text_SignUp {
  position: absolute;
width: 135px;
height: 23px;
left: 117px;
top: 680px;

font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #333333;
}
.check {
  position: absolute;
width: 266px;
height: 18px;
left: 115px;
top: 730px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #99811D;
}
.check a {
  text-decoration: none !important;
  color: #99811D !important;
} 


.enter-code {
  position: absolute;
width: 395px;
height: 36px;
left: 52px;
top: 170px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 36px;
text-align: center;
color: #000000;
text-transform: capitalize;
}
.enterVerificationCode {
position: absolute;
width: 380px;
height: 60px;
left: 103px;
top: 245px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
border-radius: 10px;
}
.send-text {
  position: absolute;
/* width: 352px; */
height: 18px;
left: 105px;
top: 350px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.phone-number {
  position: absolute;
  width: 152px;
  height: 23px;
  left: 103px;
  top: 402px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.resend {
  position: absolute;
/* width: 106px; */
height: 23px;
left: 106px;
top: 450px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #501F6A;
}
/* .form2 {

} */
.problem {
  position: absolute;
/* width: 198px; */
height: 23px;
left: 106px;
top: 650px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #333333;
}
.support {
  position: absolute;
/* width: 126px; */
height: 23px;
left: 107px;
    top: 688px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;

}
.support a {
  text-decoration: none !important;
  color: #99811D !important;
}


.driverFormLogo {
  position: absolute;
width: 112px;
height: 75px;
left: 68px;
top: 44px;
}
.cash-out {
  text-transform: capitalize;
  position: absolute;
width: 962px;
height: 94px;
left: 164px;
top: 116px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 60px;
line-height: 94px;
/* identical to box height */

text-align: center;
text-transform: capitalize;

color: #501F6A;
}
.sign-up-to-drive {
  position: absolute;
/* width: 167px; */
height: 31px;
left: 243px;
    top: 220px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
text-align: center;

color: #1B1B1B;
}
.driver {
  position: absolute;
  /* width: 139px;  */
  /* height: 26px; */
  left: 95px;
  top: 238px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-align: center;

color: #1B1B1B;
}
.awesome {
  position: absolute;
width: 519px;
height: 19px;
left: 243px;
top: 275px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

color: #333333;
}
.first-name {
  position: absolute;
width: 361px;
height: 60px;
left: 258px;
top: 275px;

background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.last-name {
  position: absolute;
width: 361px;
height: 60px;
left: 150px;
top: 275px;

background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.email {
  position: absolute;
width: 361px;
height: 60px;
left: 42px;
top: 275px;

background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.driver-top {
  margin-top: 73px;
}
.drver-bottom {
  margin-top: 183px;
}
.license-number {
position: absolute;
width: 361px;
height: 60px;
left: 258px;
top: 355px;

background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.referral-code {
position: absolute;
width: 361px;
height: 60px;
left: 150px;
top: 355px;

background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.city {

position: absolute;
width: 361px;
height: 60px;
left: 42px;
top: 355px;

background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.form3Button {
  text-transform: uppercase;
  position: absolute;
width: 219px;
height: 54px;
left: 245px;
top: 577px;
background: #501F6A !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
border-radius: 30px !important;
}
.form3Button a {
  color: #FFFFFF !important;
text-decoration: none !important;
}
.already {
  position: absolute;
/* width: 285px; */
height: 23px;
left: 250px;
    top: 660px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #333333;
}
.log-in {
  position: absolute;
/* width: 49px; */
height: 23px;
left: 250px;
top: 695px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;

}
.log-in a {
  text-decoration: none !important;
  color: #99811D !important;
}

/* LOG IN */
.driver_enter {
  position: absolute;
  top: 254px;
}
#next a {
  text-decoration: none !important;
  color: #FFFFFF !important;
}
.driver_checkbox {
  position: absolute;
  left: 82px;
    top: 411px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
 .applyToDriveImg {
  display: none;
  visibility: hidden;
 }
  .applyToDrive {
   display: none;
   visibility: hidden;
 }
.logInFormLogo {
  position: absolute;
  width: 89px;
  height: 57px;
  left: 108px;
  top: 20px;
}
.drive {
  position: absolute;
width: 375px;
height: 36px;
left: 940px;
top: 168px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 36px;
text-align: center;
text-transform: capitalize;

color: #000000;
}


.welcome {
  top: 99px;
    left: 71px;
}
.SignUpToDriveFormLogo {
  visibility: hidden;
  display: none;
}
.signUpToDriveForm, .SignUpToDriveForm1, .SignUpToDriveForm2, .SignUpToDriveForm3, .logInForm1, .logInForm2, .logInForm3 {
  background-image: none !important;
  position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;
background: #FDFCFD;
}


.driverFormLogo {
  position: absolute;
width: 89px;
height: 57px;
left: 18px;
top: 20px;
}

.driverFormLogo {
  position: absolute;
width: 257px;
height: 62px;
left: 20px;
top: 95px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
text-transform: capitalize;

color: #501F6A;
}
.sign-up-to-drive {
  /* position: absolute; */
width: 125px;
height: 23px;
left: 20px;
top: 186px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #1B1B1B;
}
.awesome {
  /* position: absolute; */
width: 286px;
height: 31px;
left: 20px;
top: 233px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #333333;
}


}