html, body{
  overflow-x: hidden;
}
html {
  min-width: 100%;
  background-size: contain;
}
@font-face {
  font-family: IBM Plex Sans Medium;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Medium.ttf");
}

@font-face {
  font-family: IBM Plex Sans Light;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}

@font-face {
  font-family: IBM Plex Sans Semi-bold;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
}
@font-face {
  font-family: IBM Plex Sans Regular;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-SemiBold.ttf");
}
@font-face {
  font-family: IBM Plex Sans ExtraLight;
  src: url("./assets/fonts/IBM_Plex_Sans/IBMPlexSans-ExtraLight.ttf");
}

@font-face {
  font-family: Montserrat Regular;
  src: url("./assets/fonts/Montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: Montserrat Semi-bold;
  src: url("./assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face {
  font-family: Montserrat ExtraLight;
  src: url("./assets/fonts/Montserrat/Montserrat-ExtraLight.ttf");
}

.applyToRide {
  /* position: absolute;
  width: 52px;
  height: 104px;
  left: -90px;
  top: 22px; */
  position: absolute;
  width: 101%;
  height: 100%;
  left: -0.5rem;
  top: 0px;
}
.applyToRide img {
  width: 245px;
height: 104px;
left: 20px;
top: 36px;
}
.applyToRideLogIn {
  position: absolute;
left: 1290px;
top: 25px;
font-family: IBM Plex Sans Regular;
font-style: normal;
font-weight: 500;
font-size: 16px;
color: #F0F0F0 !important;
text-decoration: none !important;
}
.applyToRideLogIn a {
  color: #F0F0F0 !important;
  text-decoration: none !important;
}

.applyToRidePs p1{
  position: absolute;
width: 336px;
height: 47px;
left: 109px;
top: 169px;
font-family: IBM Plex Sans Medium;
font-style: normal;
font-weight: 600;
font-size: 36px;
line-height: 47px;
color: #FFFFFF;
}
.applyToRidePs p2 {
  position: absolute;
width: 298px;
height: 31px;
left: 112px;
top: 231px;

font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 31px;
color: #FFFFFF;
}
.applyToRideForm {
  position: absolute;
  width: 391px;
  height: 546px;
  left: -50px;
  top: 75px;
  background: #FFFFFF;
  border-radius: 6px; 
  box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
}
.applyToRideForm p1{
  position: absolute;
  width: 307px;
  height: 30px;
  left: 10px;
  top: 10px;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #1B1B1B;
}

.applyToRideForm label {
  margin-top: 40px;
  position: absolute;
width: 202px;
height: 26px;
left: 15px;
font-family: IBM Plex Sans ExtraLight;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
text-align: center;
color: #333333;
}
.inputCode {
  margin-top: 60px;
  position: absolute;
  width: 361px;
  height: 60px;
  right: -160px;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
  border-radius: 10px;
}
input {
  border-style: none;
  outline: none;
}
input:focus {
  border-style: none;
  outline: none;
}
.applyToRideForm p5 {
  position: absolute;
  width: 272px;
  height: 18px;
  left: 18px;
  top: 209px;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.applyToRideForm number {
  position: absolute;
  width: 118px;
  height: 18px;
  left: 15px;
  margin-top: 200px;
  font-family: IBM Plex Sans Regular;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}

.applyToRideForm resend {
  text-decoration: none !important;
  position: absolute;
width: 83px;
height: 18px;
left: 18px;
margin-top: 213px;
font-family: IBM Plex Sans Regular;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
color: #501F6A !important;
}

.applyToRideForm resend a {
  text-decoration: none;
  color: #501F6A !important;
} 

.call-me, .text-me, .applyToDrive, .next,
.select, .form-input,
textarea,
button,
.form-control,
.input-field:focus,
.input-field:active {
outline: 0px !important;
-webkit-appearance: none !important;
border-color: transparent;
-webkit-box-shadow: none;
box-shadow: none !important;
}
.applyToRideButton1 {
color: #333333 !important;
margin-top: 477px;
position: absolute;
text-align: center;
justify-content: space-between;
  position: absolute;
width: 155px;
height: 54px;
left: 54px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.applyToRideButton2 {
  top: 500px;
  text-align: center;
color: #333333 !important;
justify-content: space-between;
  position: absolute;
width: 155px;
height: 54px;
left: 241px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
.call-me, .text-me {
  margin-top: .5em;
  display: flex;
align-items: center;
text-align: center;
  color: #333333 !important;
}
.call-me-img {
  padding-right: 1em;
}
.text-me-img {
  padding-right: 1em;
}
/* .call-me {
  position: absolute;
  width: 48px;
  left: 15px;

top: 340px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
color: #333333 !important;
}
.text-me {
  position: absolute;
width: 51px;
left: 327px;

top: 340px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #333333 !important;
} */
.applyToRideButton1 .btn-secondary { 
    background: #FFFFFF !important;
    border-color: #FFFFFF !important;
}
.applyToRideButton2 .btn-secondary { 
  background: #FFFFFF !important;
  border-color: #FFFFFF !important;
}

/* LOG IN FORM */
.applyToDrive {
  position: absolute;
  width: 177px;
  /* height: 54px; */
  left: 40px;
  top: 46px;
  background: #501F6A !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 30px !important;
}
.applyToDrive a {
  text-decoration: none !important;
  color: #FFFFFF !important;
}
.logInFormLogo {
  position: absolute;
  width: 112px;
  height: 75px;
  left: 50px;
  top: 19px;
}
.form3logo {
  left: 50px;
  position: absolute;
  top: 30px;
}
.welcome {
  position: absolute;
  width: 361px;
  height: 36px;
  left: 31px;
  top: 99px;
font-family: IBM Plex Sans Semi-bold;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
text-align: center;
color: #000000;
}
.welcome p {
  position: absolute;
  width: 45px;
  height: 23px;
  left: 25px;
  padding-top: 30px;
  text-align: left;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 23px;
  color: #1B1B1B;
}
.inputPhoneNo {
  position: absolute;
width: 380px;
height: 60px;
left: 73px;
top: 260px;

background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
border-radius: 10px;
}
.flag-dropdown {
  position: absolute;
  /* left: 73px; */
  /* top: 260px; */
  /* width: 38px; */
}
.send p5 {
  position: absolute;
  font-family: IBM Plex Sans Light;
  left: 61px;
  top: 315px;
  color: #333333;
}
.send checkbox {
  position: absolute;
  width: 24px;
  height: 24px;
  left: 73px;
  top: 410px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
.send p7 {
  position: absolute;
  font-family: IBM Plex Sans Light;
  color: #333333;
  left: 118px;
  top: 378px;
}
#next {
  text-transform: uppercase;
  left: 59px !important;
    top: 467px !important;
  background: #501F6A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
position: absolute;
width: 177px;
height: 54px;
}

.newNumber {
  position: absolute;
  width: 169px;
  height: 23px;
  left: 63px !important;
  top: 600px;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #333333;
}
.find {
  position: absolute;
  width: 147px;
  height: 23px;
    left: 66px;
    top: 670px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  /* text-align: center; */
  color: #99811D;
}
.find a {
  color: #99811D !important;
  text-decoration: none !important;
}
.applyToDriveImg{
  position: absolute;
  width: 890px;
  height: 789px;
  right: 8px;
  top: 0px;
}
@media only screen and (min-width: 320px) and (max-width: 767px) {
 
  .row {
    display: block !important;
  } 
  .logInFormLogo {
    width: 112px;
height: 75px;
left: 73px !important;
top: 20px !important;
  }
  .applyToRide  {
    display: flex;
    overflow: hidden;
    width: 144%;
    background-image: none !important;
    top: -20px;
}
.applyToRide img {
  width: 90px;
  margin-top: 15px;
  height: 2rem;
  margin-top: 15px;
}
.applyToRideLogIn a {
  color: #501F6A !important;
  text-decoration: none !important;
 }
  .applyToRideLogIn {
    color: #501F6A !important;
    position: absolute;
    /* top: 15px; */
    margin-left: -5px;
    top: 5px;
    width: 59px;
    font-size: 6px;
  }
  /* .applyToRidePage  {
    position: flex;
    text-align: center;
    align-items: center;
  } */
  .applyToRideForm {
      position: absolute;
      width: 391px;
      height: 546px;
      right: -66px;
      /* left: -50px; */
      top: 75px;
      background: #FFFFFF;
      border-radius: 6px;
      box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
  }
} 
#next {
    left: 85px;
    top: 485px;
  }
  /* .find {
    left: 96px;
    top: 683px;
  } */
/* SIGN UP TO DRIVE */

.signUpToDriveImg {
  position: absolute;
    width: 890px;
    height: 789px;
    right: 8px;
    top: 0px;
}
  .signUpToDriveButton {
    text-transform: uppercase;
    position: absolute;
    width: 177px;
    height: 54px;
    left: 40px;
    top: 46px;
    background: #501F6A !important;
    border-radius: 30px !important;
}
.signUpToDriveButton a {
  text-decoration: none !important;
  color: #FFFFFF;
}
.signUpToDriveButton a:hover {
  text-decoration: none !important;
  color: #FFFFFF;
}

.SignUpToDrive p8 {
  position: absolute;
  width: 336px;
  height: 47px;
  right: 37.14%;
    top: 209px;
    bottom: 87.74%;
  font-family: IBM Plex Sans SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 47px;
  text-align: center;
  color: #FFFFFF !important;
}
.SignUpToDrive p9 {
  position: absolute;
  width: 298px;
  height: 31px;
  right: 41.594%;
  top: 260px;
  bottom: 87.74%;
  font-family: IBM Plex Sans SemiBold;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
line-height: 31px;
  text-align: center;
  color: #FFFFFF !important;
}
.signUpToDriveArrow {
  position: absolute;
  width: 179.17px;
  height: 76.5px;
    left: 536.57px;
    top: 345px;
  box-sizing: border-box;
  transform: rotate(14.36deg);
}
.SignUpToDriveFormLogo {
    position: absolute;
    width: 112px;
    height: 75px;
    left: 50px;
    top: 19px;
}


.sign-to-drive {
  position: absolute;
/* width: 139px; */
height: 26px;
left: 95px;
top: 238px;

font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
text-align: center;

color: #1B1B1B;
}
.code-text {
  position: absolute;
width: 463px;
height: 41px;
left: 97px;
top: 288px;

font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;

color: #333333;
}
.enterNo_SignUp {
  position: absolute;
  width: 361px;
  height: 60px;
  position: absolute;
  top: 217px !important;
  left: 47px !important;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
  border-radius: 10px;
}
.sign-to-drive {
  position: absolute;
  width: 463px;
  height: 41px;
  left: -123px;
  top: 156px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.input_SignUp {
  width: 361px;
    height: 60px;
    position: absolute;
    top: 297px !important;
    left: 47px !important;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
    border-radius: 10px;
}
::placeholder {
  text-align: center;
}
.checkbox_SignUp {
  position: absolute;
    width: 24px;
    height: 24px;
    left: 55px;
    top: 379px;
  border: 1px solid #333333;
box-sizing: border-box;
border-radius: 3px;
  cursor: pointer;
}
.agreement_SignUp {
  position: absolute;
  width: 305px;
  height: 23px;
  left: 118px;
    top: 378px;
  
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  
  color: #333333;
}
#next_SignUp {
  position: absolute;
width: 177px;
height: 54px;
left: 59px;
top: 467px;
text-transform: uppercase;
background: #501F6A;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}
#next_SignUp a {
  text-decoration: none;
  color: #FFFFFF;
}
.text_SignUp {
  position: absolute;
width: 135px;
height: 23px;
left: 63px;
top: 631px;
font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #333333;
}
.check {
  position: absolute;
width: 266px;
height: 18px;
left: 54px;
top: 670px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #99811D;
}
.check a {
  text-decoration: none !important;
  color: #99811D !important;
} 


.enter-code {
  position: absolute;
width: 395px;
height: 36px;
left: -14px;
top: 99px;
font-family: IBM Plex Sans SemiBold;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 36px;
text-align: center;
color: #000000;
text-transform: capitalize;
}
.enterVerificationCode {
position: absolute;
width: 380px;
height: 60px;
left: 50px;
top: 198px;
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(120, 120, 118, 0.2);
border-radius: 10px;
}
.send-text {
  position: absolute;
/* width: 352px; */
height: 18px;
left: 52px;
top: 300px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
color: #333333;
}
.phone-number {
  position: absolute;
  width: 152px;
  height: 23px;
  left: 53px;
    top: 352px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.resend {
  position: absolute;
  /* width: 106px; */
  height: 23px;
  left: 56px;
  top: 410px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
color: #501F6A;
}
.resend a {
  text-decoration: none !important;
  color: #501F6A !important;
}
/* .form2 {

} */
.problem {
  position: absolute;
height: 23px;
left: 59px;
top: 631px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #333333;
}
.support {
  position: absolute;
  height: 23px;
  left: 60px;
  top: 670px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;

}
.support a {
  text-decoration: none !important;
  color: #99811D !important;
}


.driverFormLogo {
  position: absolute;
width: 112px;
height: 75px;
left: 68px;
top: 25px;
}
.cash-out {
  text-transform: capitalize;
  position: absolute;
  width: 962px;
  height: 94px;
  left: 140px;
  top: 116px;
  font-family: IBM Plex Sans SemiBold;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 94px;
  text-align: center;
  text-transform: capitalize;
  color: #501F6A;
}
.sign-up-to-drive {
  position: absolute;
  height: 31px;
  left: 252px;
  top: 220px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #1B1B1B;
}
.driver {
  position: absolute;
  /* width: 139px;  */
  /* height: 26px; */
  left: 95px;
  top: 238px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 20px;
line-height: 26px;
/* identical to box height */

text-align: center;

color: #1B1B1B;
}
.awesome {
  position: absolute;
  width: 519px;
  height: 19px;
  left: 254px;
  top: 275px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;

color: #333333;
}

.email {
  top: 356px;
    position: absolute;
    width: 361px;
    height: 60px;
    background: rgba(80, 31, 106, 0.06);
    border-radius: 10px;
    right: 5px;
    left: 366px;
}
.email::placeholder {
  text-align: left;
}
.driver-top {
  right: 102px;
  top: 59x;
  position: relative;
}
.driver-bottom {
  left: 142px;
  position: relative;
  top: 400px;
}
.license-number {
position: absolute;
width: 361px;
height: 60px;
left: 258px;
top: 355px;
background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.license-number::placeholder {
  text-align: left;
}
.referral-code {
position: absolute;
width: 361px;
height: 60px;
left: 150px;
top: 355px;
background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.referral-code::placeholder {
  text-align: left;
}
.city {
    position: absolute;
    width: 361px;
    height: 60px;
    left: 121px;
    top: 16px;
    background: rgba(80, 31, 106, 0.06);
    border-radius: 10px;
}
.city::placeholder {
  text-align: left;
}
.form3Button {
  text-transform: uppercase;
  position: absolute;
  width: 219px;
  height: 54px;
  left: 266px;
  top: 561px;
  background: #501F6A !important;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  border-radius: 30px !important;
}
.form3Button a {
  color: #FFFFFF !important;
text-decoration: none !important;
}
.already {
  position: absolute;
/* width: 285px; */
height: 23px;
left: 269px;
    top: 660px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #333333;
}
.log-in {
  position: absolute;
  height: 23px;
  left: 270px;
  top: 695px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
}
.log-in a {
  text-decoration: none !important;
  color: #99811D !important;
}

/* LOG IN */
.driver_enter {
  position: absolute;
  top: 254px;
}
#next a {
  text-decoration: none !important;
  color: #FFFFFF !important;
}
.driver_checkbox {
  position: absolute;
  left: 63px;
  top: 379px;
}
.drive {
  position: absolute;
  width: 361px;
  height: 36px;
  left: 31px;
  top: 99px;
  font-family: IBM Plex Sans Semi-bold;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
color: #000000;
text-transform: capitalize;
}
.code-text {
  /* padding-top: 30px; */
  position: absolute;
  width: 463px;
  height: 41px;
  left: 49px;
  top: 202px;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.send_rider_form {
  position: absolute;
  left: 55px !important;
  top: 315px !important;
}

.rider_check {
  left: 92px;
    top: 332px;
}
.keep {
  left: 118px !important;
    top: 378px !important;
}
#next {
    text-transform: uppercase;
    left: 59px !important;
    top: 448px !important;
    background: #501F6A;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    position: absolute;
    width: 177px;
    height: 54px;
} 

@media only screen and (min-width: 320px) and (max-width: 767px) {
  /* LOG IN */
 .applyToDriveImg1 {
  display: none;
  visibility: hidden;
 }
  .applyToDrive {
   visibility: hidden;
 }
.logInFormLogo {
  position: absolute;
  width: 89px;
  height: 57px;
  left: 108px;
  top: 20px;
}
/* .drive {
  position: absolute;
width: 375px;
height: 36px;
left: 940px;
top: 168px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 28px;
line-height: 36px;
text-align: center;
text-transform: capitalize;

color: #000000;
} */


.welcome {
  top: 104px;
  left: 19px;
  font-family: IBM Plax Sans;
  
}
.enter-code {
  font-size: 24px;
    left: -33px;
    top: 99px;
}
.welcome p {
  left: 40px;
}
/* .driver_enter {
  
} */
.send p5 {
  width: 298px !important;
  left: 62px;
}
.send p7 {
  width: 148px;
    position: absolute;
    font-family: IBM Plex Sans Light;
    color: #333333;
    left: 104px;
    top: 378px;
}
.applyToDrive {
  left: 82px;
  top: 489px;
background: #501F6A !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px;
}

/* LOGINFORM2 */
.enter-code {
  font-size: 24px;
    left: -9px;
    top: 113px;
}
.enterVerificationCode {
  left: 55px;
  width: 300px;
  top: 206px;
}
.send-text {
  width: 270px;
height: 18px;
left: 58px;
    top: 306px;
    font-family: IBM Plex Sans Light;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #333333;
}
.phone-number {
  left: 55px;
    top: 357px;
}

.problem {
  position: absolute;
    width: 254px;
    /* height: 18px; */
    left: 12px;
    top: 572px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #333333;
}
.support {
  position: absolute;
width: 98px;
height: 18px;
left: 61px;
    top: 523px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #99811D;
}
/* LOGINFORM3 */
.applyToRideButton1 {
  width: 154px;
  left: 40px;
  margin-top: 438px;
}
.applyToRideButton2 {
  width: 154px;
  left: 218px;
  top: 461px;
}
/* .problem {
  top: 561px;
} */
.support {
  top: 595px;
}

.SignUpToDriveFormLogo {
  position: absolute;
  width: 112px;
  height: 75px;
  left: 47px !important;
  top: 19px;
}

.signUpToDriveForm, .SignUpToDriveForm1, .SignUpToDriveForm2, .SignUpToDriveForm3, .logInForm1, .logInForm2, .logInForm3 {
  background-image: none !important;
  position: absolute;
width: 360px;
height: 640px;
left: 0px;
top: 0px;
background: #FDFCFD;
}


.driverFormLogo {
  position: absolute;
width: 89px;
height: 57px;
left: 18px;
top: 20px;
}

.driverFormLogo {
  position: absolute;
width: 257px;
height: 62px;
left: 20px;
top: 95px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
text-transform: capitalize;

color: #501F6A;
}
.sign-up-to-drive {
  /* position: absolute; */
width: 125px;
height: 23px;
left: 20px;
top: 186px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 23px;
text-align: center;

color: #1B1B1B;
}
.awesome {
  /* position: absolute; */
width: 286px;
height: 31px;
left: 20px;
top: 233px;

font-family: IBM Plex Sans;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 18px;

color: #333333;
}


}
.first-name {
  position: absolute;
width: 361px;
height: 60px;
left: 366px;
top: 332px;
right: 5px;
background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.first-name::placeholder {
  text-align: left;
  }
.last-name {
  position: absolute;
width: 361px;
height: 60px;
left: 258px;
top: 332px;

background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}

.last-name::placeholder {
text-align: left;
}
.email_next {
  position: absolute;
  width: 361px;
  height: 60px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
  top: 332px;
  left: 150px;
}
.email_next::placeholder {
text-align: left;
}

.license-number_next {
  position: absolute;
  width: 361px;
  height: 60px;
  left: 262px;
  top: 382px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
}
.license-number_next::placeholder {
text-align: left;
}

.expiry-date {
  position: absolute;
  width: 361px;
  height: 60px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
  top: 382px;
  left: 156px;
}
.expiry-date::placeholder {
text-align: left;
}
.state-of-issue {
  position: absolute;
  width: 361px;
  height: 60px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
  top: 381px;
    left: 47px;
}
.state-of-issue::placeholder {
text-align: left;
}
.birth-date {
  position: absolute;
  width: 361px;
  height: 60px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
  top: 432px;
  left: 262px;
}
.birth-date::placeholder {
text-align: left;
}
.city {
  position: absolute;
  width: 361px;
  height: 60px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
  top: 432px;
  left: -89px;
}
.city::placeholder {
text-align: left;
}
.form3Button2 {
  text-transform: uppercase;
  position: absolute;
width: 219px;
height: 54px;
  top: 571px;
  background: #FFFFFF !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px !important;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;
left: 252px;
}
/* .form3Button2:hover {
  background: #501F6A !important;
  color: #FFFFFF !important;
} */
.form3Button2 a {
  text-decoration: none !important;
  color: #501F6A !important;
}
.form3Button3 {
  text-transform: uppercase;
  position: absolute;
width: 219px;
height: 54px;
  top: 571px;
  background: #501F6A !important;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 30px !important;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 23px;
text-align: center;
color: #FFFFFF;
left: 480px;
}
/* .form3Button3:hover {
  color: #501F6A !important;
  background: #FFFFFF !important;
} */
.form3Button3 a {
  text-decoration: none !important;
  color: #FFFFFF !important;
}
/* .already {
  left: 251px;
} */
/* .log-in {
  left: 251px;
} */
/* RIDER */
@media only screen and (min-width: 320px) and (max-width: 767px) {
  #next_SignUp {
    width: 154px;
    height: 54px;
    left: 56px;
    top: 455px;
}
/* SIGN UP TO DRIVE */
.row {
  display: block !important;
} 
.signUpToDriveImg {
  display: none;
  visibility: hidden;
}
.SignUpToDriveFormLogo {
    left: 46px;
    top: 5px;
}
.signUpToDriveButton {
  visibility: hidden;
}

.driver {
  font-size: 18px;
line-height: 23px;
position: absolute;
    width: 139px;
    left: 36px;
    top: 156px;
    font-family: IBM Plex Sans ExtraLight;
}
.code-text {
  font-size: 14px;
line-height: 18px;
width: 272px;
    height: 41px;
    left: 48px;
    top: 203px;
    font-family: IBM Plex Sans Light;
}
.enterNo_SignUp {
  width: 300px;
  left: 50px;
    top: 294px;
}
.checkbox_SignUp {
  left: 61px;
  top: 380px;
}
.agreement_SignUp {
  /* width: 233px; */
  font-size: 14px;
  line-height: 18px;
  left: 71px;
  top: 392px;
}
.text_SignUp {
  font-size: 14px;
  line-height: 18px;
  left: 41px;
  top: 572px;
}
.check {
  width: 266px;
  height: 18px;
  left: 46px;
  top: 600px;
}
.SignUpToDriveFormLogo {
  left: 49px !important;
  top: 25px;
}
.enter-code {
  font-size: 24px;
    left: -33px;
    top: 99px;
}
.enterVerificationCode {
  left: 47px;
  width: 300px;
  top: 206px;
}
.send-text {
  width: 270px;
  height: 18px;
  left: 53px;
  top: 306px;
  font-family: IBM Plex Sans Light;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #333333;
}
.phone-number {
  left: 52px;
  top: 357px;
}
.resend {
  position: absolute;
  width: 105px !important;
  /* height: 23px; */
  left: 57px;
  top: 402px;
  font-family: 'IBM Plex Sans Light';
  font-style: normal;
  font-weight: 500;
  /* font-size: 18px; */
  line-height: 23px;
  color: #501F6A;
}
.form4 {
  width: 117px;
  height: 75px;
  top: 9px;
  left: 13px;
}
.cash-out {
  position: absolute;
width: 257px;
height: 62px;
left: 15px;
    top: 78px;
text-align: left;
font-family: IBM Plex Sans SemiBold;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 31px;
text-transform: capitalize;
color: #501F6A;
}
.sign-up-to-drive {
  /* position: absolute; */
  width: 125px;
  height: 23px;
  left: 18px;
    top: 144px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #1B1B1B;
}
.awesome {
    left: 21px;
    top: 173px;
}
.form4 {
  margin: 10;
}
.driver-bottom {
  left: 7px;
  position: relative;
  top: 209px;
}
.-number {
  position: absolute;
  width: 361px;
  height: 60px;
  left: 124px;
  top: 320px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
}
.referral-code {
  position: absolute;
    width: 361px;
    height: 60px;
    left: 123px;
    top: 362px;
    background: rgba(80, 31, 106, 0.06);
    border-radius: 10px;
}
.city {
  left: 124px;
  top: 404px;
}
.form3Button {
  width: 154px;
  height: 54px;
  left: 17px;
  top: 497px;

}
.already {
  position: absolute;
  width: 222px;
  height: 18px;
  left: 20px;
  top: 590px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  
  color: #333333;
}

.newNumber {
  left: 95px;
  top: 565px;
}
.find {
  top: 593px;
}
.email {
    position: absolute;
    width: 331px;
    height: 60px;
    background: rgba(80, 31, 106, 0.06);
    border-radius: 10px;
    top: 227px;
    left: 123px;
}
.email::placeholder {
  text-align: left;
}
.license-number {
  position: absolute;
  width: 331px;
  height: 60px;
  left: 123px;
  top: 268px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
}
.license-number::placeholder {
  text-align: left;
}
.referral-code {
  position: absolute;
  width: 331px;
  height: 60px;
  left: 125px;
  top: 309px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
}
.referral-code::placeholder {
  text-align: left;
}
.city {
  position: absolute;
  width: 331px;
  height: 60px;
  left: 17px;
  top: 141px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
}
.city::placeholder {
  text-align: left;
}
.first-name {
  position: absolute;
  width: 320px;
height: 60px;
  background: rgba(80, 31, 106, 0.06);
  border-radius: 10px;
  top: 211px;
    left: 143px;
}
.first_name::placeholder {
text-align: left;
}
.last-name {
position: absolute;
width: 320px;
height: 60px;
left: 142px;
    top: 251px;
background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.last-name::placeholder {
text-align: left;
}
.email_next {
position: absolute;
width: 320px;
height: 60px;
left: 142px;
    top: 291px;
background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.email_next::placeholder {
text-align: left;
}
.license-number_next {
position: absolute;
width: 320px;
height: 60px;
left: 40px;
    top: 332px;
background: rgba(80, 31, 106, 0.06);
border-radius: 10px;
}
.license-number_next::placeholder {
text-align: left;
}
.expiry-date {
  position: absolute;
    width: 320px;
    height: 60px;
    background: rgba(80, 31, 106, 0.06);
    border-radius: 10px;
    top: 373px;
    left: 39px;
}
.state-of-issue {
  position: absolute;
    width: 320px;
    height: 60px;
    background: rgba(80, 31, 106, 0.06);
    border-radius: 10px;
    top: 415px;
    left: 37px;
}
.birth-date {
      position: absolute;
    width: 320px;
    height: 60px;
    background: rgba(80, 31, 106, 0.06);
    border-radius: 10px;
    top: 456px;
    left: 38px;
}
.city {
  left: 40px;
  width: 320px;
  top: 498px;
}
.form3Button2 {
  top: 741px;
  width: 152px;
  left: 30px;
}
.form3Button3 {
  width: 152px;
  top: 741px;
  left: 189px;
}
.already {
  position: absolute;
  width: 222px;
  height: 18px;
  left: 20px;
  top: 802px;
  font-family: IBM Plex Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #333333;
}
.log-in {
  position: absolute;
/* width: 38px !important; */
height: 18px;
left: 25px;
top: 610px;
left: 25px;
    top: 823px;
font-family: IBM Plex Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 18px;
text-align: center;

color: #99811D;
}
/* .Driver {
  width: 360px;
  overflow-x: hidden;
} */
}




 /* Mobile view */
 @media screen and (max-width: 400px) {
  
}
/* Tablet view */
@media (min-width: 401px) and (max-width: 768px) {

}
/* iPad view */
@media (min-width: 768px) and (max-width: 1024px) {
  
}



