.Flexbox {
  margin-top: 6em;
  margin-right: -28px;
  margin-left: -63px;
  margin-bottom: 6em;
  margin-left: -4em !important;
}
.flexbox {
  border-radius: 25px;
}
.feedback {
  width: 310px;
  font-size: 16px;
  line-height: 20px;
  color: #091D2D;
  margin-top: 2em;
  font-family: 'IBM Plex Sans Medium';
  padding-left: 55px;
  padding-bottom: 0rem;
}
sub {
  padding-left: 4.5em;
  bottom: 2.5em !important;
}
.read-more {
  text-transform: capitalize;
  background: #99811D !important;
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-left: -3.2em;
  margin-top: 5em;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  font-family: Roboto;
  margin-top: 2em;
  border-color: #99811D !important;
}

@media only screen and (min-width: 600px) and (max-width: 750px) {
  .Flexbox {
    margin-top: -15em;
    margin-left: 2.7em !important;
  }
  .flexbox-a {
    margin-bottom: 1em;
  }
  .flexbox-b {
    margin-bottom: 1em;
  }
} 



@media (max-width: 359px) {
  .flex-img {
    width: 89%;
  }
  .flexbox-a {
    margin-top: -4em !important;
    margin-bottom: 2em !important;
  }
  .flexbox-c {
    margin-top: 2em !important;
  }
  .feedback {
    padding-left: 1px;
  }
  sub {
    padding-left: 0.5em;
  }
}



/* Our Company */
.FlexboxOurCompany {
  margin-top: 4em;
  justify-content: space-between !important;
}
.flexbox-d, .flexbox-e, .flexbox-f {
  background: #FFFFFF;
  box-shadow: 0px 4px 15px rgba(51, 51, 51, 0.1);
  border-radius: 3px; 
  max-width: 28.333333% !important;
}
.flexbox-img {
  padding-top: 2em;
}
.role {
  padding-left: 1.5em;
  padding-top: 2em;
  text-align: left;
  font-size: 16px;
  line-height: 20px;
  color: #091D2D;
  font-family: 'IBM Plex Sans Medium';
}
.description { 
  padding-left: 1.5em !important;
  text-align: left;
  padding-right: 0em !important;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.396px;
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 768px) {
.flexbox-d, .flexbox-e, .flexbox-f {
  height: 15em !important;
  max-width: 98.333333% !important;
  margin-top: 20px !important;
  }
}

@media only screen and (min-width: 360px) and (max-width: 385px) {
  .Flexbox {
    margin-left: -1.2em !important;
  }
  .flex-img {
    width: 89%;
  }
  .flexbox-a {
    margin-top: -4em !important;
    margin-bottom: 2em !important;
  }
  .flexbox-c {
    margin-top: 2em !important;
  }
}


@media only screen and (min-width: 386px) and (max-width: 440px) {
  .Flexbox {
    margin-left: -1em !important;
  }
  .flex-img {
    margin-left: 6px;
  }
  .flexbox-a {
    margin-top: -4em !important;
    margin-bottom: 2em !important;
  }
  .flexbox-c {
    margin-top: 2em !important;
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .flex-img {
    width: 18em;
  }

  .Flexbox {
  margin-left: -3em !important;
  }
}