.FlexboxBusinessPartners {
  margin-top: 7em;
}
.FlexboxBusinessPartners h1 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #252B42 !important;
  text-transform: capitalize;
  margin-bottom: 1em;
}

@media screen and (max-width: 768px) {
  .FlexboxBusinessPartners img {
    margin-left: 0em;
    margin-top: -15em;
  }
}