.ReduceCosts {
  margin-top: 2em;
}
.ReduceCosts h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 48px;
  color: #091133 !important;
  margin-top: 5em;
}
.ReduceCosts p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #333333 !important;
}

@media screen and (max-width: 768px) {
  .ReduceCosts h1{
    margin-top: -1em !important;
  }

  .ReduceCosts img{
    width: 35em;
    height: 30em;
    margin-left: -90px;
  }
  
}